In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Pramila")

Pramila

In [ ]:
print("KLE BK BCA College Chikodi")

KLE BK BCA College Chikodi

In [ ]:
a=10
print(a)

10

In [ ]:
print("Hello world"*3)

Hello worldHello worldHello world

In [ ]:
print(100/3)

33.333333333333336

In [ ]:
print("python programming language \n "*5)

python programming language
 python programming language
 python programming language
 python programming language
 python programming language

In [ ]:
print("My name is Pramila S Sankapal\n I am from vadagol\n I have complited pu college in Majalatti\n Now I am persuving BCA in B.K College Chikodi\n")

My name is Pramila S Sankapal
 I am from vadagol
 I have complited pu college in Majalatti
 Now I am persuving BCA in B.K College Chikodi

In [ ]:
print("Hello"+ "World")

HelloWorld

In [ ]:
print("Good morning\n"*10)

Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning

In [ ]:
name = "Pramila"
print(name)

Pramila

In [ ]:
print("kannada=100\n English=97\n Physics=80\n Chemistry=85\n Mathematics=90\n Biology=95\n")

kannada=100
 English=97
 Physics=80
 Chemistry=85
 Mathematics=90
 Biology=95

In [ ]:
_N_A_M_E = "Computer"
print(_N_A_M_E)

Computer

In [ ]:
Age = 19
age = 19
print(Age,age)

19 19

In [ ]:
x=10
x=15
print(x,x)

15 15

In [ ]:
Y=3.24
print(Y)

3.24

In [ ]:
yes = True
print(yes)

True

In [ ]:
Name = 121
print(name)

Pramila

In [ ]:
NA_12_ME = "Chikodi"
print(NA_12_ME)

Chikodi

In [ ]:
name = "college"
per = 67.34
print(name,per)

college 67.34

In [ ]:
College = "BK College"
Name = "Pramila"
print("My name is",Name,"I'm stutying in",College)

My name is Pramila I'm stutying in BK College

In [ ]:
# Hello Good Evening,How are you,i'am fine, where are you from i'm from chikodi,so nice
text = "Good Evening"
address = "I'm from chikodi"
print("Hello",text,"How are you","i am fine,where are you from",address,"so nice")

Hello Good Evening How are you i am fine,where are you from I'm from chikodi so nice

In [ ]:
print("Good morning")

Good morning

In [ ]:
a,b,c ="good","morning",18
print(a,b,c)

good morning 18

In [ ]:
X=Y=Z=1001
print(X,Y,Z)

1001 1001 1001

In [ ]:
A=B,C="College",25
print(B,C,A)

College 25 ('College', 25)

In [ ]:
A=10
B=20
print("Addition of",A,"and",B,"is=",A+B)

Addition of 10 and 20 is= 30

In [ ]:
A=10
print(type(A))

<class 'int'>

In [ ]:
X=35
print(type(X))

<class 'int'>

In [ ]:
y=-100
print(type(y))

<class 'int'>

In [ ]:
value=0
print(type(value))

<class 'int'>

In [ ]:
value=3.33
print(type(value))

<class 'float'>

In [ ]:
Number=-100.33333
print(type(Number))

<class 'float'>

In [ ]:
Run=+20.0
print(type(Run))

<class 'float'>

In [ ]:
yes=True
print(yes)

True

In [ ]:
yes=18
print(type(yes))

<class 'int'>

In [ ]:
yes="False"
print(type(yes))

<class 'str'>

In [ ]:
Roll_number="101"
print(type(Roll_number))

<class 'str'>

In [ ]:
Section = '''c'''
print(type(Section))

<class 'str'>

In [ ]:
programe="""program"""
print(type(programe))

<class 'str'>

In [ ]:
string="Python programming languages"
print(string)

Python programming languages

In [ ]:
first="BK\n"
second="college\n"
print(((first +" "+second)+"\n")*5)

BK
 college

BK
 college

BK
 college

BK
 college

BK
 college

In [ ]:
Name="python programming languages"
print(Name[5])
print(Name[-2])
print(Name[18])
print(Name[3:14])
print(Name[:20])
print(Name[6:])
print(Name[:-1])
print(Name[-22:-4])
print(Name[::1])
print(Name[::2])
print(Name[::-1])
print(Name[::-3])

n
e

hon program
python programming l
 programming languages
python programming language
 programming langu
python programming languages
pto rgamn agae
segaugnal gnimmargorp nohtyp
san iao hp

In [ ]:
Details='''multi line comments
hi,Good Morning
'''
print(Details)

multi line comments
hi,Good Morning

In [ ]:
list1=[101]
print(list1)
print(type(list1))
list1.append("Pramila")
print(list1)

[101]
<class 'list'>
[101, 'Pramila']

In [ ]:
from logging import debug
details=[101]
print(details)#101
print(type(details))#list
details.append(85.12)
print(details)#101,85.12
details.append(True)
print(details)#101,85.12,True
print(len(details))
print(details.pop())
print(details)
print("Pramila")
details.append("pramila")
print(details)
details.append(-99)
print(details)
print(len(details))
print(details[2])
print(details[-1])
details.append("BK college chikodi")
print(details)
print(len(details))
details[3]=99
print(details)
print("pramila99")
print(details[2:4])
details.insert(2,False)
print(details)
details.remove(False)
print(details)
print(len(details))
print(details[4])
print(details[::-1])
print(details.count(101))
print(details.clear())
print(details)
print(type(details))

[101]
<class 'list'>
[101, 85.12]
[101, 85.12, True]
3
True
[101, 85.12]
Pramila
[101, 85.12, 'pramila']
[101, 85.12, 'pramila', -99]
4
pramila
-99
[101, 85.12, 'pramila', -99, 'BK college chikodi']
5
[101, 85.12, 'pramila', 99, 'BK college chikodi']
pramila99
['pramila', 99]
[101, 85.12, False, 'pramila', 99, 'BK college chikodi']
[101, 85.12, 'pramila', 99, 'BK college chikodi']
5
BK college chikodi
['BK college chikodi', 99, 'pramila', 85.12, 101]
1
None
[]
<class 'list'>

In [ ]:
from re import I
information=[110]
print(information)#110
print(type(information))#list
information.append(92.45)
print(information)#110,92.45
information.append(True)
print(information)#110,92.45,True
print(len(information))
print(information.pop())
print(information)
print("Pramila")
information.append("Pramila")
print(information)
information.append(-97)
print(information)
print(len(information))
print(information[3])
print(information[-2])
information.append("BK college chikodi")
print(information)
print(len(information))
information[4]=97
print(information)
print("Pramila97")
print(information[3:2])
information.insert(3,False)
print(information)
information.remove(False)
print(information)
print(len(information))
print(information[3])
print(information[::-2])
print(information.count(110))
print(information.clear())
print(information)
print(type(information))

[110]
<class 'list'>
[110, 92.45]
[110, 92.45, True]
3
True
[110, 92.45]
Pramila
[110, 92.45, 'Pramila']
[110, 92.45, 'Pramila', -97]
4
-97
Pramila
[110, 92.45, 'Pramila', -97, 'BK college chikodi']
5
[110, 92.45, 'Pramila', -97, 97]
Pramila97
[]
[110, 92.45, 'Pramila', False, -97, 97]
[110, 92.45, 'Pramila', -97, 97]
5
-97
[97, 'Pramila', 110]
1
None
[]
<class 'list'>

In [ ]:
# Address = 2010
print(3+3)

6

In [ ]:
Example = (1,"Triveni",3.12,False,1)
print(Example)
print(len(Example))
print(type(Example))
print(Example.count(1))
print(Example[0:3])
print(Example[3])
print(Example[-1])

(1, 'Triveni', 3.12, False, 1)
5
<class 'tuple'>
2
(1, 'Triveni', 3.12)
False
1

In [ ]:
Number = (2,4,7,9,3,9,3,2)
print(Number)
Add = (2,4,5,7)
print(Number + Add)
print(Add*4)

(2, 4, 7, 9, 3, 9, 3, 2)
(2, 4, 7, 9, 3, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)

In [ ]:
Example = {1,2,2,3,4,5}
print(Example)
print(type(Example))
print(len(Example))
Example.add(10)
print(Example)
Example.add("BKC")
print(Example)

{1, 2, 3, 4, 5}
<class 'set'>
5
{1, 2, 3, 4, 5, 10}
{'BKC', 1, 2, 3, 4, 5, 10}

In [ ]:
ex = {1,2,2,3,4,4,5,6,7}
print(ex)
print(type(ex))
print(len(ex))
ex.add("BKC")
print(ex)
ex.add(33.14)
print(ex)
ex.add("True")
print(ex)
print(ex.pop())
print(ex)
ex.remove(4)
print(ex)

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
7
{'BKC', 1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 'BKC', 33.14}
{1, 2, 3, 4, 5, 6, 7, 'True', 'BKC', 33.14}
1
{2, 3, 4, 5, 6, 7, 'True', 'BKC', 33.14}
{2, 3, 5, 6, 7, 'True', 'BKC', 33.14}

In [ ]:
first = {1,2,3,4,4,2}
second = {3,5,4,6}
print(first | second)
print(first.union(second))
print(first&second)
print(first.intersection(second))
print(first-second)
print(first.difference(second))
print(second-first)
print(second.difference(first))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [ ]:
Dict = {"Roll_number" :    186,
        "Name"        :   "Pramila",
        "Address"     :   "Vadagol",
        "CGPA"        :    7.53,
        "Course"      :    "BCA",
        "Year"        :    2025
}
print(Dict)
print(len(Dict))
Dict["Gender"] = "Female"
print(Dict)
Dict["College"] = "Majalatti"
print(Dict)
Dict["College"] = "Belagavi University"
print(Dict)
del Dict["Gender"]
print(Dict)
Dict["Gender"] = "Female"
print(Dict)
print(Dict["College"])
Dict["Age"] = 19
print(Dict["Age"])
Dict.pop("Address")
print(Dict)
print(len(Dict))
print(Dict)
Dict.popitem()
print(Dict)
print(Dict.keys())
print(Dict.values())
print(Dict.items())
print(Dict.clear())

{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025}
6
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female'}
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female', 'College': 'Majalatti'}
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female', 'College': 'Belagavi University'}
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University'}
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University', 'Gender': 'Female'}
Belagavi University
19
{'Roll_number': 186, 'Name': 'Pramila', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University', 'Gender': 'Female', 'Age': 19}
8
{'Roll_number': 186, 'Name': 'Pramila', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University', 'Gender': 'Female', 'Age': 19}
{'Roll_number': 186, 'Name': 'Pramila', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University', 'Gender': 'Female'}
dict_keys(['Roll_number', 'Name', 'CGPA', 'Course', 'Year', 'College', 'Gender'])
dict_values([186, 'Pramila', 7.53, 'BCA', 2025, 'Belagavi University', 'Female'])
dict_items([('Roll_number', 186), ('Name', 'Pramila'), ('CGPA', 7.53), ('Course', 'BCA'), ('Year', 2025), ('College', 'Belagavi University'), ('Gender', 'Female')])
None

In [ ]:
Type = {"Roll_number" :   166,
        "Name"        :   "Triveni",
        "Address"     :   "Toranahalli",
        "CGPA"        :    8.64,
        "Course"      :    "BCA",
        "Year"        :    2025
}
print(Type)
print(len(Type))
Type["Gender"] = "Female"
print(Type)

{'Roll_number': 166, 'Name': 'Triveni', 'Address': 'Toranahalli', 'CGPA': 8.64, 'Course': 'BCA', 'Year': 2025}
6
{'Roll_number': 166, 'Name': 'Triveni', 'Address': 'Toranahalli', 'CGPA': 8.64, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female'}

In [ ]:
Employe = { "Employe_id"     :  1001,
            "Employe_Name"   : "Abhi",
            "Contact_number" :  6372534685,
            "Salary"         :  200000,
            "Email_id"       : "abhi2005@gmail.com",
            "Company"        : "Microsoft",
            "Employe_habbit" : "Gaming",
            "Pin_code"       : "591244",
            "Country"        : "India"


}
print(Employe)
Employe["Country"] = "India"
Employe["Pin_code"] = "591244"
print(Employe)
print(len(Employe))
print(Employe["Salary"])
Employe.pop("Email_id")
Employe["Department"] ="Developer"
print(len(Employe))
print(Employe.popitem())
print(Employe.keys())
print(Employe.values())

{'Employe_id': 1001, 'Employe_Name': 'Abhi', 'Contact_number': 6372534685, 'Salary': 200000, 'Email_id': 'abhi2005@gmail.com', 'Company': 'Microsoft', 'Employe_habbit': 'Gaming', 'Pin_code': '591244', 'Country': 'India'}
{'Employe_id': 1001, 'Employe_Name': 'Abhi', 'Contact_number': 6372534685, 'Salary': 200000, 'Email_id': 'abhi2005@gmail.com', 'Company': 'Microsoft', 'Employe_habbit': 'Gaming', 'Pin_code': '591244', 'Country': 'India'}
9
200000
9
('Department', 'Developer')
dict_keys(['Employe_id', 'Employe_Name', 'Contact_number', 'Salary', 'Company', 'Employe_habbit', 'Pin_code', 'Country'])
dict_values([1001, 'Abhi', 6372534685, 200000, 'Microsoft', 'Gaming', '591244', 'India'])

In [ ]:
Name = {"Name" : "Pramila",
        "name" : "Pramila",
        "F_name" : "Pramila",
        "L_name" : "Pramila"
}
print(Name)

{'Name': 'Pramila', 'name': 'Pramila', 'F_name': 'Pramila', 'L_name': 'Pramila'}

In [ ]:
a = 10
b = 3
c = a/b
print(type(a))
print(type(b))
print(a/b)
print(type(c))

<class 'int'>
<class 'int'>
3.3333333333333335
<class 'float'>

In [ ]:
a = 10
b = 3
c = a+b
print(a+b)
print(type(a))
print(type(b))
print(type(c))
print(type(a/b))

13
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [ ]:
#
i=20
j=5.5
k=i+j
print(type(k))

<class 'float'>

In [ ]:
# int -> float
i=20
j=5.5
k=i+j
print(type(k))

<class 'float'>

In [ ]:
# int -> float
a=49
b=7
print(type(a/b))

<class 'float'>

In [ ]:
i=True
print(type(i))
j=5
print(type(i+j))

<class 'bool'>
<class 'int'>

In [ ]:
M=2.9
N=False
O=M-N
print(type(O))

<class 'float'>

In [ ]:
p=True
Q=False
R=p+Q
print(type(R))

<class 'int'>

In [ ]:
S=2.6
T=False
print(type(S*T))

<class 'float'>

In [ ]:
#Implicit
num = 3.12
print(type(num))
# Explicit
add = int(num)
print(type(add))
mul = float(add)
print(type(mul))

<class 'float'>
<class 'int'>
<class 'float'>

In [ ]:
Num = "101"
print(type(Num))

# Explicit
add = int(Num)
print(type(add))


Men = True
print(type(Men))

Fem = int(Men)
print(type(Fem))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'int'>

In [ ]:
print(type(str(100)))

<class 'str'>

In [ ]:
Demo = 1
print(type(Demo))
print(type(bool(Demo)))

Demo=9.99
print(type(Demo))
print(type(bool(Demo)))

Demo = False
print(type(Demo))

Ex = float(Demo)
print(Ex)
print(type(Ex))

Demo = True
print(type(Demo))

Ex = float(Demo)
print(Ex)
print(type(Ex))

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'bool'>
<class 'bool'>
0.0
<class 'float'>
<class 'bool'>
1.0
<class 'float'>

In [ ]:
# 1) str -> list
Num1  = "Pramila"
print(type(Num1))

Ex1 = list(Num1)
print(type(Ex))

<class 'str'>
<class 'float'>

In [ ]:
# 2) tuple -> list
Num2 = (1,2,3,4,5)
print(type(Num2))

Ex2 = list(Num2)
print(type(Ex2))

<class 'tuple'>
<class 'list'>

In [ ]:
# 3) set -> list
Num3 = {1,23,4,5}
print(type(Num3))

Ex3 = list(Num3)
print(type(Ex3))

<class 'set'>
<class 'list'>

In [ ]:
# 4) Dict-> list
Num4 = {}
print(type(Num4))

Ex4 = list(Num4)
print(type(Num4))

<class 'dict'>
<class 'dict'>

In [ ]:
# 5) tuple->list
Num5 = [1,2,3,4,5]
print(type(Num5))

Ex5 = list(Num5)
print(type(Ex5))

<class 'list'>
<class 'list'>

In [ ]:
# 1) list -> Dict
Num2 = [("a",1),("b",2),("c",3)]
print(type(Num2))

Ex2 = dict(Num2)
print(type(Ex2))

# 2) tuple -> dict
Num3 = (1,23,4,5)
print(type(Num3))

Ex3 = set(Num3)
print(type(Ex3))

# 3) set-> dict
Num4 = {("Roll_number",501),("Section","C")}
print(type(Num4))

Ex4 = dict(Num4)
print(type(Ex4))

<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>
<class 'set'>
<class 'dict'>

In [ ]:
a=10
b=20
print("a=20,b=10")

a=20,b=10

In [ ]:
A=10
B=20
print("Before Swapping")
print("A=",A,"B=",B)
print("After Swapping")
temp=A
A=B
B=temp
print("A=",A,"B=",B)

Before Swapping
A= 10 B= 20
After Swapping
A= 20 B= 10

In [ ]:

X=10
Y=20
print("Before Swapping")
print("X=",X,"Y=",Y)
print("After Swapping")
X = X+Y
Y = X-Y
X = X-Y
print("X=",X,"Y=",Y)

Before Swapping
X= 10 Y= 20
After Swapping
X= 20 Y= 10

In [ ]:
# 1) int to str
X = 10
print(type(X))
print(type(str(X)))

<class 'int'>
<class 'str'>

In [ ]:
Example = ["Laptop",39000,"Window","Lenovo","Bengaluru","laptop",39000,"BCA","Lenovo","Chikodi"]
print(Example)
print(len(Example))
print(Example.count("Lenovo"))

['Laptop', 39000, 'Window', 'Lenovo', 'Bengaluru', 'laptop', 39000, 'BCA', 'Lenovo', 'Chikodi']
10
2

In [ ]:
# Compile time programe
A=10
B=20
print(A+B)


# Run time programe

X=int(input("Enter X value"))
Y=int(input("Enter Y value"))
print(X+Y)

30
Enter X value10
Enter Y value20
30

In [ ]:
i = input("enter the value :i")
j = input("enter the value :j")
print(i + j)

enter the value :i10
enter the value :j20
1020

In [ ]:
X = 100
Y = 50
print(f'Addition of {X} and {Y} value is = {X + Y}')

Addition of 100 and 50 value is = 150

In [ ]:
# Hi,Good Morning My name is Triveni, i have completed PUC (Science) in the year of
# 2025, currently i'am working in KLE BK BCA College Chikodi 591201
name = "Triveni"
course = "BCA"
year = 2025
Department = "BCA"
Pincode = 591201


print(f"Hi,Good Morning My name is {name}, i have completed {course} in the year of {year},currently i'm working in KLE BK {Department} College Chikodi {Pincode}")

Hi,Good Morning My name is Triveni, i have completed BCA in the year of 2025,currently i'm working in KLE BK BCA College Chikodi 591201

In [ ]:
# Arithmetic operators
Num1 = int(input("Enter Num1 value :"))
Num2 = int(input("Enter Num2 vaiue :"))
print("Addition of two numbers is :",Num1 + Num2)
print()
print("Substraction of two numbers is :",Num1-Num2)
print()
print("Multiplication of two numbers is :",Num1*Num2)
print()
print("Division of two numbers is :",Num1/Num2)
print()
print("Floor Division of two numbers is :",Num1//Num2)
print()
print("Modulus of two numbers is :",Num1%Num2)
print()

X = 5
Y = 3
print("Exponent value is :",X**Y)

Enter Num1 value :5
Enter Num2 vaiue :6
Addition of two numbers is : 11

Substraction of two numbers is : -1

Multiplication of two numbers is : 30

Division of two numbers is : 0.8333333333333334

Floor Division of two numbers is : 0

Modulus of two numbers is : 5

Exponent value is : 125

In [ ]:
# Relational Operator
Number1 = 35
Number2 = 40
print(Number1 > Number2)
print(Number2 < Number1)
print(Number1 == 35)
print(Number1 <= Number2)
print(Number2 != 40)
print(Number2 >= 40)
print(10 != 20)
print(Number1 == Number2)
print(Number2 != Number1)

False
False
True
True
False
True
True
False
True

In [ ]:
# Logical operator
a = 20
b = 35
c = 13
d = 10

print( a == b and c < d )

print( 13 != c and d < c )

print( b > a and d < c)

print( 20 != a and c == d)

print( a < b or d == c)

print((not(a < b )) and 100  < 200)

print(not(d == 10))

print(35 != d or (not(20 == a)))

print(not(c <= b and (not(a <= c))))

print()

False
False
True
False
True
False
False
True
False

In [ ]:
X = 10
print(X)

X -= 2
print(X)

X *= 5
print(X)

X //= 3
print(X)

X **= 2
print(X)

X %= 4
print(X)

X += 9
print(X)

X /= 3
print(X)

10
8
40
13
169
1
10
3.3333333333333335

In [ ]:
Num = 9
if Num  < 10 :
  print("10 is a greater then 9")

10 is a greater then 9

In [ ]:
User_id = "20MCA103"
Password = 1234
if User_id == "20MCA103" and Password == 1234:
  print("login successfully")

login successfully

In [ ]:
Ex = 59
if Ex == 58:
  print("Are you understand")

In [ ]:
Name = "Pramila"
if Name <= "BK" :
  print("My name is Pramila")

In [ ]:
Num = int(input("Enter a number value:"))
if Num > 0 :
  print("Positive number")
else :
    print("Negative number")

Enter a number value:30
Positive number

In [ ]:
Num = int(input("Enter a number value:"))
if Num % 2 == 0:
     print("Even number")
else :
     print("Odd number")

Enter a number value:69
Odd number

In [ ]:
year = int(input("Enter a year value :"))
if year % 4 == 0 :
  print("leap year")
else :
  print("Not leap year")

Enter a year value :2028
leap year

In [ ]:
 Age = int(input("Enter a age value :"))
v if Age >= 18 :
     print("they are eligible for voting")
else :
    print("they have to wait")

Enter a age value :50
they are eligible for voting

In [ ]:
User_id = input("Enter user_id value :")
Password =int(input("Enter password value :"))
if User_id == "College" and Password == 1229:
  print("Login successfully")
else:
  print("Invalid details")

Enter user_id value :College
Enter password value :1229
Login successfully

In [ ]:
Marks = int(input("Enter a marks value :"))
if Marks >= 90 :
  print("Grade A")
elif Marks >= 80 :
  print("Grade B")
elif Marks >= 70 :
  print("Grade C")
elif Marks >= 60 :
  print("Grade D")

Enter a marks value :67
Grade D

In [ ]:
Marks = int(input("Enter a marks value :"))
if Marks >= 85 :
  print("Distiction")
elif Marks >= 70 :
  print("First class")
elif Marks >= 55 :
  print("Second class")
elif Marks >= 35 :
  print("Just pass")
else:
  print("Fail better luck next chance")

Enter a marks value :50
Just pass

In [ ]:
Prize = int(input("Enter a prize medal :"))
if Prize == 1 :
  print("Gold medal")
elif Prize == 2 :
  print("Silver medal")
elif Prize == 3 :
  print("Bronze medal")
else :
  print("Better luck next time")

Enter a prize medal :3
Bronze medal

In [ ]:
Troffic = input("Enter a troffic colours :")
if Troffic == "Red" :
  print("stop")
elif Troffic == "Yellow" :
  print("Ready")
elif Troffic == "Green" :
  print("Go")

Enter a troffic colours :Red
stop

In [ ]:
a, b, c = 25, 35, 15
if a > b and a > c :
  print("A is largest number")
elif b > a and b > c :
  print("B is largest number")
else :
  print("C is largest number")

B is largest number

In [ ]:
Num = int(input("Enter a number value :"))
if Num < 0 :
    print("Negative number")
else :
  print("Positive number")

Enter a number value :4
Positive number

In [ ]:
num = -5
if num >= 0:
  if num == 0:
    print("Zero value")
  else:
    print("Positive number")
else:
  print("Negative number")

Negative number

In [ ]:
num = int(input("Enter number value is :"))
if num > 0:
  if num == 0:
    print("Zero value")
  else:
    print("Positive number")
else:
  print("Negative number")

Enter number value is :58
Positive number

In [ ]:
# Write a programe arithmetic operator using switch statement
x,y = 10,20
option = input("Enter your choice option :")
match option :
  case '+':
    print("Sum of value",x+y)
  case '-':
    print("Sub of value",x-y)
  case '*':
    print("Mul of value",x*y)
  case '/':
    print("Div of value",x/y)
  case '%':
    print("Mod of value",x%y)
  case'_' :
    print("Invalid operator")
  case'!=':
    print("Not equal")

Enter your choice option :%
Mod of value 10

In [ ]:
day =int (input("Enter your choice day :"))
match day :
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Enter your choice day :7
Sunday

In [ ]:
months = int(input("Enter a month number :"))
match months :
  case 1:
    print("Jan")
  case 2:
    print("Feb")
  case 3:
    print("Mar")
  case 4:
    print("Apr")
  case 5:
    print("May")
  case 6:
    print("Jun")
  case 7:
    print("Jul")
  case 8:
    print("Aug")
  case 9:
    print("Sep")
  case 10:
    print("Oct")
  case 11:
    print("Nov")
  case 12:
    print("Dec")

Enter a month number :12
Dec

In [ ]:
i = 1
while i <= 60 :
    print(i,end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [ ]:
i = 1
add = 0
while i <= 10 :
  add = add + i
  i += 1
print("Addition of value is :",add)

Sum of n natural number is : 55

In [ ]:
Num = 5
i = 1
while i <= 10 :
  print("5 *",i,"=",Num*i,end=" ")
  i = i + 1

5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45 5 * 10 = 50

In [ ]:
num = 407
rem = 0
sum = 0
temp = num
while num > 0 :
  rem = num % 10
  sum = sum + rem * rem * rem
  num = num // 10
if temp == sum :
  print("Armstrong number")
else :
  print("Not armstrong number")

Armstrong number

In [ ]:
num = 12345
rem = 0
sum = 0
temp = num
while num > 0 :
  rem = num % 10
  sum = sum * 10 + rem
  num = num // 10
print("Reverse number is :",sum )

Reverse number is : 54321

In [ ]:
# print even number between 1 to 100
i = 2
while i <= 100:
   print(i,end = " ")
   i+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
num,a,b =10,0,1
i = 0
while i <= num :
    print(a, end = " ")
    a,b = b,a+b
    i+=1

0 1 1 2 3 5 8 13 21 34 55

In [3]:
colours = ['blue','red','pink','black']
print(type(colours))

for i in colours :
    print(i)

<class 'list'>
blue
red
pink
black

In [4]:
numbers = {1,2,3,4,5,6,7,8,9}
for i in numbers :
   print(i)

1
2
3
4
5
6
7
8
9

In [6]:
Name = "KLE BK BCA College in Chik0di"
rev = ""
for i in Name :
  rev = i + rev
print(rev)

id0kihC ni egelloC ACB KB ELK

In [7]:
print("hi,basu sir")

hi,basu sir

In [8]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(1,10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
Sum = 0
for i in range(1,11):
  Sum+=i
print("sum of N Natural number is",Sum)

sum of N Natural number is 55

In [18]:
num  = 4
for i in range(1,11):
  print("4*",i,"=",num*i)
  i=i+1

4* 1 = 4
4* 2 = 8
4* 3 = 12
4* 4 = 16
4* 5 = 20
4* 6 = 24
4* 7 = 28
4* 8 = 32
4* 9 = 36
4* 10 = 40

In [21]:
for i in range(2,101,2):
     print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [24]:
fact = 1
for i in range(1,6):
  fact = fact*i
print("Factorial number is :",fact)

Factorial number is : 120

In [25]:
# Fibonacci series / number using for loop
# 0 1 1 2 3 5 8 13 21 34 55 89 144
a,b = 0,1
for i in range(1,14):
    print(a,end=" ")
    a,b = b,a+b

0 1 1 2 3 5 8 13 21 34 55 89 144

In [26]:
a=5
b=2
print(a//b)

2