In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Pramila")

Pramila

In [ ]:
print("KLE BK BCA College Chikodi")

KLE BK BCA College Chikodi

In [ ]:
a=10
print(a)

10

In [ ]:
print("Hello world"*3)

Hello worldHello worldHello world

In [ ]:
print(100/3)

33.333333333333336

In [ ]:
print("python programming language \n "*5)

python programming language
 python programming language
 python programming language
 python programming language
 python programming language

In [ ]:
print("My name is Pramila S Sankapal\n I am from vadagol\n I have complited pu college in Majalatti\n Now I am persuving BCA in B.K College Chikodi\n")

My name is Pramila S Sankapal
 I am from vadagol
 I have complited pu college in Majalatti
 Now I am persuving BCA in B.K College Chikodi

In [ ]:
print("Hello"+ "World")

HelloWorld

In [ ]:
print("Good morning\n"*10)

Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning

In [ ]:
name = "Pramila"
print(name)

Pramila

In [ ]:
print("kannada=100\n English=97\n Physics=80\n Chemistry=85\n Mathematics=90\n Biology=95\n")

kannada=100
 English=97
 Physics=80
 Chemistry=85
 Mathematics=90
 Biology=95

In [ ]:
_N_A_M_E = "Computer"
print(_N_A_M_E)

Computer

In [ ]:
Age = 19
age = 19
print(Age,age)

19 19

In [ ]:
x=10
x=15
print(x,x)

15 15

In [ ]:
Y=3.24
print(Y)

3.24

In [ ]:
yes = True
print(yes)

True

In [ ]:
Name = 121
print(name)

Pramila

In [ ]:
NA_12_ME = "Chikodi"
print(NA_12_ME)

Chikodi

In [ ]:
name = "college"
per = 67.34
print(name,per)

college 67.34

In [ ]:
College = "BK College"
Name = "Pramila"
print("My name is",Name,"I'm stutying in",College)

My name is Pramila I'm stutying in BK College

In [ ]:
# Hello Good Evening,How are you,i'am fine, where are you from i'm from chikodi,so nice
text = "Good Evening"
address = "I'm from chikodi"
print("Hello",text,"How are you","i am fine,where are you from",address,"so nice")

Hello Good Evening How are you i am fine,where are you from I'm from chikodi so nice

In [ ]:
print("Good morning")

Good morning

In [ ]:
a,b,c ="good","morning",18
print(a,b,c)

good morning 18

In [ ]:
X=Y=Z=1001
print(X,Y,Z)

1001 1001 1001

In [ ]:
A=B,C="College",25
print(B,C,A)

College 25 ('College', 25)

In [ ]:
A=10
B=20
print("Addition of",A,"and",B,"is=",A+B)

Addition of 10 and 20 is= 30

In [ ]:
A=10
print(type(A))

<class 'int'>

In [ ]:
X=35
print(type(X))

<class 'int'>

In [ ]:
y=-100
print(type(y))

<class 'int'>

In [ ]:
value=0
print(type(value))

<class 'int'>

In [ ]:
value=3.33
print(type(value))

<class 'float'>

In [ ]:
Number=-100.33333
print(type(Number))

<class 'float'>

In [ ]:
Run=+20.0
print(type(Run))

<class 'float'>

In [ ]:
yes=True
print(yes)

True

In [ ]:
yes=18
print(type(yes))

<class 'int'>

In [ ]:
yes="False"
print(type(yes))

<class 'str'>

In [ ]:
Roll_number="101"
print(type(Roll_number))

<class 'str'>

In [ ]:
Section = '''c'''
print(type(Section))

<class 'str'>

In [ ]:
programe="""program"""
print(type(programe))

<class 'str'>

In [ ]:
string="Python programming languages"
print(string)

Python programming languages

In [ ]:
first="BK\n"
second="college\n"
print(((first +" "+second)+"\n")*5)

BK
 college

BK
 college

BK
 college

BK
 college

BK
 college

In [ ]:
Name="python programming languages"
print(Name[5])
print(Name[-2])
print(Name[18])
print(Name[3:14])
print(Name[:20])
print(Name[6:])
print(Name[:-1])
print(Name[-22:-4])
print(Name[::1])
print(Name[::2])
print(Name[::-1])
print(Name[::-3])

n
e

hon program
python programming l
 programming languages
python programming language
 programming langu
python programming languages
pto rgamn agae
segaugnal gnimmargorp nohtyp
san iao hp

In [ ]:
Details='''multi line comments
hi,Good Morning
'''
print(Details)

multi line comments
hi,Good Morning

In [ ]:
list1=[101]
print(list1)
print(type(list1))
list1.append("Pramila")
print(list1)

[101]
<class 'list'>
[101, 'Pramila']

In [ ]:
from logging import debug
details=[101]
print(details)#101
print(type(details))#list
details.append(85.12)
print(details)#101,85.12
details.append(True)
print(details)#101,85.12,True
print(len(details))
print(details.pop())
print(details)
print("Pramila")
details.append("pramila")
print(details)
details.append(-99)
print(details)
print(len(details))
print(details[2])
print(details[-1])
details.append("BK college chikodi")
print(details)
print(len(details))
details[3]=99
print(details)
print("pramila99")
print(details[2:4])
details.insert(2,False)
print(details)
details.remove(False)
print(details)
print(len(details))
print(details[4])
print(details[::-1])
print(details.count(101))
print(details.clear())
print(details)
print(type(details))

[101]
<class 'list'>
[101, 85.12]
[101, 85.12, True]
3
True
[101, 85.12]
Pramila
[101, 85.12, 'pramila']
[101, 85.12, 'pramila', -99]
4
pramila
-99
[101, 85.12, 'pramila', -99, 'BK college chikodi']
5
[101, 85.12, 'pramila', 99, 'BK college chikodi']
pramila99
['pramila', 99]
[101, 85.12, False, 'pramila', 99, 'BK college chikodi']
[101, 85.12, 'pramila', 99, 'BK college chikodi']
5
BK college chikodi
['BK college chikodi', 99, 'pramila', 85.12, 101]
1
None
[]
<class 'list'>

In [ ]:
from re import I
information=[110]
print(information)#110
print(type(information))#list
information.append(92.45)
print(information)#110,92.45
information.append(True)
print(information)#110,92.45,True
print(len(information))
print(information.pop())
print(information)
print("Pramila")
information.append("Pramila")
print(information)
information.append(-97)
print(information)
print(len(information))
print(information[3])
print(information[-2])
information.append("BK college chikodi")
print(information)
print(len(information))
information[4]=97
print(information)
print("Pramila97")
print(information[3:2])
information.insert(3,False)
print(information)
information.remove(False)
print(information)
print(len(information))
print(information[3])
print(information[::-2])
print(information.count(110))
print(information.clear())
print(information)
print(type(information))

[110]
<class 'list'>
[110, 92.45]
[110, 92.45, True]
3
True
[110, 92.45]
Pramila
[110, 92.45, 'Pramila']
[110, 92.45, 'Pramila', -97]
4
-97
Pramila
[110, 92.45, 'Pramila', -97, 'BK college chikodi']
5
[110, 92.45, 'Pramila', -97, 97]
Pramila97
[]
[110, 92.45, 'Pramila', False, -97, 97]
[110, 92.45, 'Pramila', -97, 97]
5
-97
[97, 'Pramila', 110]
1
None
[]
<class 'list'>

In [ ]:
# Address = 2010
print(3+3)

6

In [ ]:
Example = (1,"Triveni",3.12,False,1)
print(Example)
print(len(Example))
print(type(Example))
print(Example.count(1))
print(Example[0:3])
print(Example[3])
print(Example[-1])

(1, 'Triveni', 3.12, False, 1)
5
<class 'tuple'>
2
(1, 'Triveni', 3.12)
False
1

In [ ]:
Number = (2,4,7,9,3,9,3,2)
print(Number)
Add = (2,4,5,7)
print(Number + Add)
print(Add*4)

(2, 4, 7, 9, 3, 9, 3, 2)
(2, 4, 7, 9, 3, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)

In [ ]:
Example = {1,2,2,3,4,5}
print(Example)
print(type(Example))
print(len(Example))
Example.add(10)
print(Example)
Example.add("BKC")
print(Example)

{1, 2, 3, 4, 5}
<class 'set'>
5
{1, 2, 3, 4, 5, 10}
{'BKC', 1, 2, 3, 4, 5, 10}

In [ ]:
ex = {1,2,2,3,4,4,5,6,7}
print(ex)
print(type(ex))
print(len(ex))
ex.add("BKC")
print(ex)
ex.add(33.14)
print(ex)
ex.add("True")
print(ex)
print(ex.pop())
print(ex)
ex.remove(4)
print(ex)

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
7
{'BKC', 1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 'BKC', 33.14}
{1, 2, 3, 4, 5, 6, 7, 'True', 'BKC', 33.14}
1
{2, 3, 4, 5, 6, 7, 'True', 'BKC', 33.14}
{2, 3, 5, 6, 7, 'True', 'BKC', 33.14}

In [ ]:
first = {1,2,3,4,4,2}
second = {3,5,4,6}
print(first | second)
print(first.union(second))
print(first&second)
print(first.intersection(second))
print(first-second)
print(first.difference(second))
print(second-first)
print(second.difference(first))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [ ]:
Dict = {"Roll_number" :    186,
        "Name"        :   "Pramila",
        "Address"     :   "Vadagol",
        "CGPA"        :    7.53,
        "Course"      :    "BCA",
        "Year"        :    2025
}
print(Dict)
print(len(Dict))
Dict["Gender"] = "Female"
print(Dict)
Dict["College"] = "Majalatti"
print(Dict)
Dict["College"] = "Belagavi University"
print(Dict)
del Dict["Gender"]
print(Dict)
Dict["Gender"] = "Female"
print(Dict)
print(Dict["College"])
Dict["Age"] = 19
print(Dict["Age"])
Dict.pop("Address")
print(Dict)
print(len(Dict))
print(Dict)
Dict.popitem()
print(Dict)
print(Dict.keys())
print(Dict.values())
print(Dict.items())
print(Dict.clear())

{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025}
6
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female'}
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female', 'College': 'Majalatti'}
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female', 'College': 'Belagavi University'}
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University'}
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University', 'Gender': 'Female'}
Belagavi University
19
{'Roll_number': 186, 'Name': 'Pramila', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University', 'Gender': 'Female', 'Age': 19}
8
{'Roll_number': 186, 'Name': 'Pramila', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University', 'Gender': 'Female', 'Age': 19}
{'Roll_number': 186, 'Name': 'Pramila', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University', 'Gender': 'Female'}
dict_keys(['Roll_number', 'Name', 'CGPA', 'Course', 'Year', 'College', 'Gender'])
dict_values([186, 'Pramila', 7.53, 'BCA', 2025, 'Belagavi University', 'Female'])
dict_items([('Roll_number', 186), ('Name', 'Pramila'), ('CGPA', 7.53), ('Course', 'BCA'), ('Year', 2025), ('College', 'Belagavi University'), ('Gender', 'Female')])
None

In [ ]:
Type = {"Roll_number" :   166,
        "Name"        :   "Triveni",
        "Address"     :   "Toranahalli",
        "CGPA"        :    8.64,
        "Course"      :    "BCA",
        "Year"        :    2025
}
print(Type)
print(len(Type))
Type["Gender"] = "Female"
print(Type)

{'Roll_number': 166, 'Name': 'Triveni', 'Address': 'Toranahalli', 'CGPA': 8.64, 'Course': 'BCA', 'Year': 2025}
6
{'Roll_number': 166, 'Name': 'Triveni', 'Address': 'Toranahalli', 'CGPA': 8.64, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female'}

In [ ]:
Employe = { "Employe_id"     :  1001,
            "Employe_Name"   : "Abhi",
            "Contact_number" :  6372534685,
            "Salary"         :  200000,
            "Email_id"       : "abhi2005@gmail.com",
            "Company"        : "Microsoft",
            "Employe_habbit" : "Gaming",
            "Pin_code"       : "591244",
            "Country"        : "India"


}
print(Employe)
Employe["Country"] = "India"
Employe["Pin_code"] = "591244"
print(Employe)
print(len(Employe))
print(Employe["Salary"])
Employe.pop("Email_id")
Employe["Department"] ="Developer"
print(len(Employe))
print(Employe.popitem())
print(Employe.keys())
print(Employe.values())

{'Employe_id': 1001, 'Employe_Name': 'Abhi', 'Contact_number': 6372534685, 'Salary': 200000, 'Email_id': 'abhi2005@gmail.com', 'Company': 'Microsoft', 'Employe_habbit': 'Gaming', 'Pin_code': '591244', 'Country': 'India'}
{'Employe_id': 1001, 'Employe_Name': 'Abhi', 'Contact_number': 6372534685, 'Salary': 200000, 'Email_id': 'abhi2005@gmail.com', 'Company': 'Microsoft', 'Employe_habbit': 'Gaming', 'Pin_code': '591244', 'Country': 'India'}
9
200000
9
('Department', 'Developer')
dict_keys(['Employe_id', 'Employe_Name', 'Contact_number', 'Salary', 'Company', 'Employe_habbit', 'Pin_code', 'Country'])
dict_values([1001, 'Abhi', 6372534685, 200000, 'Microsoft', 'Gaming', '591244', 'India'])

In [ ]:
Name = {"Name" : "Pramila",
        "name" : "Pramila",
        "F_name" : "Pramila",
        "L_name" : "Pramila"
}
print(Name)

{'Name': 'Pramila', 'name': 'Pramila', 'F_name': 'Pramila', 'L_name': 'Pramila'}

In [ ]:
a = 10
b = 3
c = a/b
print(type(a))
print(type(b))
print(a/b)
print(type(c))

<class 'int'>
<class 'int'>
3.3333333333333335
<class 'float'>

In [ ]:
a = 10
b = 3
c = a+b
print(a+b)
print(type(a))
print(type(b))
print(type(c))
print(type(a/b))

13
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [ ]:
#
i=20
j=5.5
k=i+j
print(type(k))

<class 'float'>

In [ ]:
# int -> float
i=20
j=5.5
k=i+j
print(type(k))

<class 'float'>

In [ ]:
# int -> float
a=49
b=7
print(type(a/b))

<class 'float'>

In [ ]:
i=True
print(type(i))
j=5
print(type(i+j))

<class 'bool'>
<class 'int'>

In [ ]:
M=2.9
N=False
O=M-N
print(type(O))

<class 'float'>

In [ ]:
p=True
Q=False
R=p+Q
print(type(R))

<class 'int'>

In [ ]:
S=2.6
T=False
print(type(S*T))

<class 'float'>

In [ ]:
#Implicit
num = 3.12
print(type(num))
# Explicit
add = int(num)
print(type(add))
mul = float(add)
print(type(mul))

<class 'float'>
<class 'int'>
<class 'float'>

In [ ]:
Num = "101"
print(type(Num))

# Explicit
add = int(Num)
print(type(add))


Men = True
print(type(Men))

Fem = int(Men)
print(type(Fem))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'int'>

In [ ]:
print(type(str(100)))

<class 'str'>

In [ ]:
Demo = 1
print(type(Demo))
print(type(bool(Demo)))

Demo=9.99
print(type(Demo))
print(type(bool(Demo)))

Demo = False
print(type(Demo))

Ex = float(Demo)
print(Ex)
print(type(Ex))

Demo = True
print(type(Demo))

Ex = float(Demo)
print(Ex)
print(type(Ex))

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'bool'>
<class 'bool'>
0.0
<class 'float'>
<class 'bool'>
1.0
<class 'float'>

In [ ]:
# 1) str -> list
Num1  = "Pramila"
print(type(Num1))

Ex1 = list(Num1)
print(type(Ex))

<class 'str'>
<class 'float'>

In [ ]:
# 2) tuple -> list
Num2 = (1,2,3,4,5)
print(type(Num2))

Ex2 = list(Num2)
print(type(Ex2))

<class 'tuple'>
<class 'list'>

In [ ]:
# 3) set -> list
Num3 = {1,23,4,5}
print(type(Num3))

Ex3 = list(Num3)
print(type(Ex3))

<class 'set'>
<class 'list'>

In [ ]:
# 4) Dict-> list
Num4 = {}
print(type(Num4))

Ex4 = list(Num4)
print(type(Num4))

<class 'dict'>
<class 'dict'>

In [ ]:
# 5) tuple->list
Num5 = [1,2,3,4,5]
print(type(Num5))

Ex5 = list(Num5)
print(type(Ex5))

<class 'list'>
<class 'list'>

In [ ]:
# 1) list -> Dict
Num2 = [("a",1),("b",2),("c",3)]
print(type(Num2))

Ex2 = dict(Num2)
print(type(Ex2))

# 2) tuple -> dict
Num3 = (1,23,4,5)
print(type(Num3))

Ex3 = set(Num3)
print(type(Ex3))

# 3) set-> dict
Num4 = {("Roll_number",501),("Section","C")}
print(type(Num4))

Ex4 = dict(Num4)
print(type(Ex4))

<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>
<class 'set'>
<class 'dict'>

In [ ]:
a=10
b=20
print("a=20,b=10")

a=20,b=10

In [ ]:
A=10
B=20
print("Before Swapping")
print("A=",A,"B=",B)
print("After Swapping")
temp=A
A=B
B=temp
print("A=",A,"B=",B)

Before Swapping
A= 10 B= 20
After Swapping
A= 20 B= 10

In [ ]:

X=10
Y=20
print("Before Swapping")
print("X=",X,"Y=",Y)
print("After Swapping")
X = X+Y
Y = X-Y
X = X-Y
print("X=",X,"Y=",Y)

Before Swapping
X= 10 Y= 20
After Swapping
X= 20 Y= 10

In [ ]:
# 1) int to str
X = 10
print(type(X))
print(type(str(X)))

<class 'int'>
<class 'str'>

In [ ]:
Example = ["Laptop",39000,"Window","Lenovo","Bengaluru","laptop",39000,"BCA","Lenovo","Chikodi"]
print(Example)
print(len(Example))
print(Example.count("Lenovo"))

['Laptop', 39000, 'Window', 'Lenovo', 'Bengaluru', 'laptop', 39000, 'BCA', 'Lenovo', 'Chikodi']
10
2

In [ ]:
# Compile time programe
A=10
B=20
print(A+B)


# Run time programe

X=int(input("Enter X value"))
Y=int(input("Enter Y value"))
print(X+Y)

30
Enter X value10
Enter Y value20
30

In [ ]:
i = input("enter the value :i")
j = input("enter the value :j")
print(i + j)

enter the value :i10
enter the value :j20
1020

In [ ]:
X = 100
Y = 50
print(f'Addition of {X} and {Y} value is = {X + Y}')

Addition of 100 and 50 value is = 150

In [ ]:
# Hi,Good Morning My name is Triveni, i have completed PUC (Science) in the year of
# 2025, currently i'am working in KLE BK BCA College Chikodi 591201
name = "Triveni"
course = "BCA"
year = 2025
Department = "BCA"
Pincode = 591201


print(f"Hi,Good Morning My name is {name}, i have completed {course} in the year of {year},currently i'm working in KLE BK {Department} College Chikodi {Pincode}")

Hi,Good Morning My name is Triveni, i have completed BCA in the year of 2025,currently i'm working in KLE BK BCA College Chikodi 591201

In [ ]:
# Arithmetic operators
Num1 = int(input("Enter Num1 value :"))
Num2 = int(input("Enter Num2 vaiue :"))
print("Addition of two numbers is :",Num1 + Num2)
print()
print("Substraction of two numbers is :",Num1-Num2)
print()
print("Multiplication of two numbers is :",Num1*Num2)
print()
print("Division of two numbers is :",Num1/Num2)
print()
print("Floor Division of two numbers is :",Num1//Num2)
print()
print("Modulus of two numbers is :",Num1%Num2)
print()

X = 5
Y = 3
print("Exponent value is :",X**Y)

Enter Num1 value :5
Enter Num2 vaiue :6
Addition of two numbers is : 11

Substraction of two numbers is : -1

Multiplication of two numbers is : 30

Division of two numbers is : 0.8333333333333334

Floor Division of two numbers is : 0

Modulus of two numbers is : 5

Exponent value is : 125

In [ ]:
# Relational Operator
Number1 = 35
Number2 = 40
print(Number1 > Number2)
print(Number2 < Number1)
print(Number1 == 35)
print(Number1 <= Number2)
print(Number2 != 40)
print(Number2 >= 40)
print(10 != 20)
print(Number1 == Number2)
print(Number2 != Number1)

False
False
True
True
False
True
True
False
True

In [ ]:
# Logical operator
a = 20
b = 35
c = 13
d = 10

print( a == b and c < d )

print( 13 != c and d < c )

print( b > a and d < c)

print( 20 != a and c == d)

print( a < b or d == c)

print((not(a < b )) and 100  < 200)

print(not(d == 10))

print(35 != d or (not(20 == a)))

print(not(c <= b and (not(a <= c))))

print()

False
False
True
False
True
False
False
True
False

In [ ]:
X = 10
print(X)

X -= 2
print(X)

X *= 5
print(X)

X //= 3
print(X)

X **= 2
print(X)

X %= 4
print(X)

X += 9
print(X)

X /= 3
print(X)

10
8
40
13
169
1
10
3.3333333333333335

In [ ]:
Num = 9
if Num  < 10 :
  print("10 is a greater then 9")

10 is a greater then 9

In [ ]:
User_id = "20MCA103"
Password = 1234
if User_id == "20MCA103" and Password == 1234:
  print("login successfully")

login successfully

In [ ]:
Ex = 59
if Ex == 58:
  print("Are you understand")

In [ ]:
Name = "Pramila"
if Name <= "BK" :
  print("My name is Pramila")

In [ ]:
Num = int(input("Enter a number value:"))
if Num > 0 :
  print("Positive number")
else :
    print("Negative number")

Enter a number value:30
Positive number

In [ ]:
Num = int(input("Enter a number value:"))
if Num % 2 == 0:
     print("Even number")
else :
     print("Odd number")

Enter a number value:69
Odd number

In [ ]:
year = int(input("Enter a year value :"))
if year % 4 == 0 :
  print("leap year")
else :
  print("Not leap year")

Enter a year value :2028
leap year

In [ ]:
 Age = int(input("Enter a age value :"))
v if Age >= 18 :
     print("they are eligible for voting")
else :
    print("they have to wait")

Enter a age value :50
they are eligible for voting

In [ ]:
User_id = input("Enter user_id value :")
Password =int(input("Enter password value :"))
if User_id == "College" and Password == 1229:
  print("Login successfully")
else:
  print("Invalid details")

Enter user_id value :College
Enter password value :1229
Login successfully

In [ ]:
Marks = int(input("Enter a marks value :"))
if Marks >= 90 :
  print("Grade A")
elif Marks >= 80 :
  print("Grade B")
elif Marks >= 70 :
  print("Grade C")
elif Marks >= 60 :
  print("Grade D")

Enter a marks value :67
Grade D

In [ ]:
Marks = int(input("Enter a marks value :"))
if Marks >= 85 :
  print("Distiction")
elif Marks >= 70 :
  print("First class")
elif Marks >= 55 :
  print("Second class")
elif Marks >= 35 :
  print("Just pass")
else:
  print("Fail better luck next chance")

Enter a marks value :50
Just pass

In [ ]:
Prize = int(input("Enter a prize medal :"))
if Prize == 1 :
  print("Gold medal")
elif Prize == 2 :
  print("Silver medal")
elif Prize == 3 :
  print("Bronze medal")
else :
  print("Better luck next time")

Enter a prize medal :3
Bronze medal

In [ ]:
Troffic = input("Enter a troffic colours :")
if Troffic == "Red" :
  print("stop")
elif Troffic == "Yellow" :
  print("Ready")
elif Troffic == "Green" :
  print("Go")

Enter a troffic colours :Red
stop

In [ ]:
a, b, c = 25, 35, 15
if a > b and a > c :
  print("A is largest number")
elif b > a and b > c :
  print("B is largest number")
else :
  print("C is largest number")

B is largest number

In [ ]:
Num = int(input("Enter a number value :"))
if Num < 0 :
    print("Negative number")
else :
  print("Positive number")

Enter a number value :4
Positive number

In [ ]:
num = -5
if num >= 0:
  if num == 0:
    print("Zero value")
  else:
    print("Positive number")
else:
  print("Negative number")

Negative number

In [ ]:
num = int(input("Enter number value is :"))
if num > 0:
  if num == 0:
    print("Zero value")
  else:
    print("Positive number")
else:
  print("Negative number")

Enter number value is :58
Positive number

In [ ]:
# Write a programe arithmetic operator using switch statement
x,y = 10,20
option = input("Enter your choice option :")
match option :
  case '+':
    print("Sum of value",x+y)
  case '-':
    print("Sub of value",x-y)
  case '*':
    print("Mul of value",x*y)
  case '/':
    print("Div of value",x/y)
  case '%':
    print("Mod of value",x%y)
  case'_' :
    print("Invalid operator")
  case'!=':
    print("Not equal")

Enter your choice option :%
Mod of value 10

In [ ]:
day =int (input("Enter your choice day :"))
match day :
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Enter your choice day :7
Sunday

In [ ]:
months = int(input("Enter a month number :"))
match months :
  case 1:
    print("Jan")
  case 2:
    print("Feb")
  case 3:
    print("Mar")
  case 4:
    print("Apr")
  case 5:
    print("May")
  case 6:
    print("Jun")
  case 7:
    print("Jul")
  case 8:
    print("Aug")
  case 9:
    print("Sep")
  case 10:
    print("Oct")
  case 11:
    print("Nov")
  case 12:
    print("Dec")

Enter a month number :12
Dec

In [ ]:
i = 1
while i <= 60 :
    print(i,end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [ ]:
i = 1
add = 0
while i <= 10 :
  add = add + i
  i += 1
print("Addition of value is :",add)

Sum of n natural number is : 55

In [ ]:
Num = 5
i = 1
while i <= 10 :
  print("5 *",i,"=",Num*i,end=" ")
  i = i + 1

5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45 5 * 10 = 50

In [ ]:
num = 407
rem = 0
sum = 0
temp = num
while num > 0 :
  rem = num % 10
  sum = sum + rem * rem * rem
  num = num // 10
if temp == sum :
  print("Armstrong number")
else :
  print("Not armstrong number")

Armstrong number

In [ ]:
num = 12345
rem = 0
sum = 0
temp = num
while num > 0 :
  rem = num % 10
  sum = sum * 10 + rem
  num = num // 10
print("Reverse number is :",sum )

Reverse number is : 54321

In [ ]:
# print even number between 1 to 100
i = 2
while i <= 100:
   print(i,end = " ")
   i+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
num,a,b =10,0,1
i = 0
while i <= num :
    print(a, end = " ")
    a,b = b,a+b
    i+=1

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
colours = ['blue','red','pink','black']
print(type(colours))

for i in colours :
    print(i)

<class 'list'>
blue
red
pink
black

In [ ]:
numbers = {1,2,3,4,5,6,7,8,9}
for i in numbers :
   print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
Name = "KLE BK BCA College in Chik0di"
rev = ""
for i in Name :
  rev = i + rev
print(rev)

id0kihC ni egelloC ACB KB ELK

In [ ]:
print("hi,basu sir")

hi,basu sir

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
Sum = 0
for i in range(1,11):
  Sum+=i
print("sum of N Natural number is",Sum)

sum of N Natural number is 55

In [ ]:
num  = 4
for i in range(1,11):
  print("4*",i,"=",num*i)
  i=i+1

4* 1 = 4
4* 2 = 8
4* 3 = 12
4* 4 = 16
4* 5 = 20
4* 6 = 24
4* 7 = 28
4* 8 = 32
4* 9 = 36
4* 10 = 40

In [ ]:
for i in range(2,101,2):
     print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
fact = 1
for i in range(1,6):
  fact = fact*i
print("Factorial number is :",fact)

Factorial number is : 120

In [ ]:
# Fibonacci series / number using for loop
# 0 1 1 2 3 5 8 13 21 34 55 89 144
a,b = 0,1
for i in range(1,14):
    print(a,end=" ")
    a,b = b,a+b

0 1 1 2 3 5 8 13 21 34 55 89 144

In [ ]:
a=5
b=2
print(a//b)

2

In [ ]:
sentance = "Python programming language"
count = 0
for ch in sentance :
  if ch in "aeiou":
      count += 1
print("Total vowels is:",count)

Total vowels is: 8

In [ ]:
# Area of triangle
base = 4
height = 5
triangle = 0.5 * base * height
print("Area of triangle is :",triangle)

Area of triangle is : 10.0

In [ ]:
# Area of circle
redius = 4
Area =  3.14*redius**2
print("Area of circle is :",Area)

Area of circle is : 50.24

In [ ]:
Example = [5,25,35,28,45,10,15]
largest_number = Example[0]
for i in Example :
  if i > largest_number :
    largest_number = i
print("Largest number is :",largest_number)

Largest number is : 45

In [ ]:
numbers = [10,25,7,99,56]
lar = numbers[0]
for i in numbers :
  if i > lar :
      lar = i
print(lar,"is a largest numbers in this list")

99 is a largest numbers in this list

In [ ]:
# Write a programe count of consonent in string value
# "Bachelor of computer science first semester section c "
sentence = "Bachelor of computer science first semester section c"
count = 0
for ch in sentence :
  if ch not in "aeiou":
      count += 1
print("Total consonents is:",count)

Total consonents is: 36

In [ ]:
bikes = ["RX 100","GT 650","Ninja","Splender","Bajaj","NS 200","M 80"]
for bike in bikes :
  if bike == "GT 650" :
    continue
  print(bike)

RX 100
Ninja
Splender
Bajaj
NS 200
M 80

In [ ]:
colours = ['blue','red','pink','black','purple','white','orenge','gray','yellow']
for i in colours :
  if i == 'pink' :
    break
  print(i)

blue
red

In [ ]:
# 1) Example sum of numbers using *args
def add(*args):
   total=0
   for num in args:
     total += num
   print("Total value is :",total)

add(10,5)
add(5,4,9)
add(10,46,14,20)

Total value is : 15
Total value is : 18
Total value is : 90

In [ ]:
def print_details(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}={value}")

print_details(name='Pramila',age='19',city='Belagum')

name=Pramila
age=19
city=Belagum

In [21]:
def details(**kwargs):
   for key,value in kwargs.items():
    print(f'My details is {key} and {value}')
details(course="BCA",section='c',college="BK College")
details(Place="Belagum")
details(Roll_no=86,T_Subject=7)
details(Laptop="Lenovo",O_S="Window",Year=2025,Version="Windows8")

My details is course and BCA
My details is section and c
My details is college and BK College
My details is Place and Belagum
My details is Roll_no and 86
My details is T_Subject and 7
My details is Laptop and Lenovo
My details is O_S and Window
My details is Year and 2025
My details is Version and Windows8

In [1]:
# Example of *args and **kwargs
def Show_values(*args,**kwargs):
   print("Positional Arguments represented in Tuple",args)
   print("Key-words Arguments represented in Dict",kwargs)
Show_values(1,2,3,4,name="Pramila")

Show_values(5,8,1,10,Class="BCA C section",Gender="Female")

Positional Arguments represented in Tuple (1, 2, 3, 4)
Key-words Arguments represented in Dict {'name': 'Pramila'}
Positional Arguments represented in Tuple (5, 8, 1, 10)
Key-words Arguments represented in Dict {'Class': 'BCA C section', 'Gender': 'Female'}

In [3]:
i = 1
fact = 1
while i <= 5 :
  fact = fact * i
  print(fact)
  i+=1

1
2
6
24
120

In [4]:

fact = 1
def fact(num):
  if num == 0 or num == 1:
    return 1
  else :
    return num* fact(num-1)
print(fact(5))

120

In [5]:
def sum(num):
  if num == 0 or num == 1:
     return num
  else :
     return num + sum(num-1)
num = 10
print("sum N natural num is:",sum(num))

sum N natural num is: 55

In [6]:
# Fibonacci series / number using function Recursion
def fib(num):
  if num <= 1:
    return num
  else :
    return fib(num-1) + fib(num-2)

for i in range(11):
  print(fib(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [7]:
Name = "Tiruu"
print(Name[:5])

Tiruu

In [8]:
class Fruit:
    Colour = "Orange"
    Price = 250
    Teste = "Sweet"
    Shape = "Circle"
    def juice(self):
        print("Good")
Orange = Fruit()
print("Orange Colour is",Orange.Colour)
Orange.juice()
print(Orange.Price)

Orange Colour is Orange
Good
250

In [9]:

class Flower:
    Smell = "Nice"
    Petal = 5
    Size = "Medium"
    Gender = "Male"
    Validity = 1.5
    def Decoration(self):
        print("Hello Good Morning")
    def Gift(self):
        print("Good Afternoon")
    def Marriage(self):
        print("Marriage")
    def Death(self):
        print("This flower using for death time")
Obj = Flower()
Obj.Marriage()
print(Obj.Gender)
Obj.Decoration()
Obj.Gift()

Marriage
Male
Hello Good Morning
Good Afternoon

In [10]:
class Fan :
    colour = "Black"
    wings = 3
    c_name = "Usha"
    price = 1500
    Warrenty ="2 years"
    def start(self):
        print("When click on button it'll start")
    def speed(self):
        print("Based on condition it'll move fast" )
    def stop(self):
        print("When click on off button it'll stop")
Obj = Fan()
print(Obj.c_name+" "+Obj.Warrenty)
Obj.stop()
Obj.start()

Usha 2 years
When click on off button it'll stop
When click on button it'll start

In [11]:
def fun(name):
    print("My name is a",name)
fun("Triveni")

My name is a Triveni

In [12]:
# Banking Example
class Bank :
    def __init__(self,balance):
        self.balance = balance
    def Deposit(self,amount):
        self.balance += amount
    def Withdraw(self,amount):
        if amount <= self.balance:
           self.balance -= amount
           print("Transaction successfully")
        else:
           print("Insufficient balance")
    def re_balance(self):
        return self.balance
Obj = Bank(1000)
print(Obj.balance)
Obj.Deposit(500)
print(Obj.balance)
Obj.Withdraw(700)
print(Obj.re_balance())
Obj.Deposit(1000)
print("Current total balance is",Obj.balance)
Obj.Withdraw(2000)
print(Obj.balance)
print("Transaction successfully")
print("current total balance is",Obj.balance)
Obj.Withdraw(1500)
print(Obj.balance)
print("Transaction successfully")
print("current total balance is",Obj.balance)

1000
1500
Transaction successfully
800
Current total balance is 1800
Insufficient balance
1800
Transaction successfully
current total balance is 1800
Transaction successfully
300
Transaction successfully
current total balance is 300

In [13]:
# Encapsulation Example
class Student :
    def __init__(self,name,marks,place):
        self.__name = name
        self.__marks = marks
        self.place = place

    def set_method(self,name,marks):
        self.name = name
        self.marks = marks

    def get_method(self):
        return self.name +" "+str(self.marks)

Obj = Student("Pramila",85,"Belagum")
Obj.set_method("Triveni",70)
print(Obj.get_method())

Triveni 70

In [14]:
# 1) Singal Inheritance
class Parent :
  def Work(self):
    print("My parents are doing forming")

class Chilren(Parent):
  def Study(self):
    print("I'm studying BCA in BK College")

Ch = Chilren()
Ch.Work()
Ch.Study()

My parents are doing forming
I'm studying BCA in BK College

In [15]:
# Multiple Inheritance
class Father :
  def Hi(self):
    print("My father is my first hero")
class Mother :
  def Hello(self):
    print("My Mother is a House wife")
class child(Father,Mother):
  def Bye(self):
    print("I'm working as a Freelancer")

Obj = child()
Obj.Hi()
Obj.Hello()
Obj.Bye()

My father is my first hero
My Mother is a House wife
I'm working as a Freelancer

In [17]:
# Multi Level Inheritance
class Grand_Parents :
  def Formar(self):
    print("")
class Parents (Grand_Parents) :
  def House(self):
    print(" $ $ $ $ $")
class Child(Parents):
  def Jolly(self):
    print("@ @ @ @ @")

Obj = Child()
Obj.Formar()
Obj.House()
Obj.Jolly()

 $ $ $ $ $
@ @ @ @ @

In [18]:
# Hirarchy Inheritance
class Parents :
    def Bussiness(self):
        print("My parents are doing Bussiness")

class Child1(Parents):
  def Study(self):
    print("I'm studying BCA")

class Child2(Parents):
  def Study(self):
    print("I'm studying PUC")

Obj1 = Child1()
Obj2 = Child2()
Obj1.Bussiness()
Obj1.Study()
Obj2.Bussiness()
Obj2.Study()

My parents are doing Bussiness
I'm studying BCA
My parents are doing Bussiness
I'm studying PUC

In [19]:
# Hybrid Inheritence
class A:
  def Hi(self):
    print("Hiiiiiiiiiiiiiii")


class B(A):
  def Hello(self):
    print("Helloooooooooooo")


class C(A):
  def Bye(self):
    print("Byeeeeeeeeeeeeee")


class D(B,C):
  def Good(self):
    print("Gooddddddddddddd")

Obj = D()
Obj.Hi()
Obj.Hello()
Obj.Bye()
Obj.Good()

Hiiiiiiiiiiiiiii
Helloooooooooooo
Byeeeeeeeeeeeeee
Gooddddddddddddd

In [38]:
# Using default arguments to simulate method overloading
class BCA_1St_Semester:
    def student(self,a,b=0,c=0,d=0):
        return a + b + c + d

BCA = BCA_1St_Semester()
print(BCA.student(5))
print(BCA.student(10,7,8))
print(BCA.student(-10,4,9,-5))
print(BCA.student(99,0,4,-12))

5
25
-2
91

In [37]:
# Run time / Method overriding
class Animal:
   def sound(self):
     print("Animal makes a Sound")
class Dog :
   def sound(self):
     print("Bow Bow Bow Bow")
class Cat :
   def sound(self):
     print("Meow Meow Meow Meow")
class Snake :
   def sound(self):
     print("Busssssssssssssss")
class Cow :
   def sound(self):
     print("Ambbbbbbbbaaaaaaa")
class Goat :
   def sound(self):
     print("Bee Bee Bee Bee")

Obj1 = Animal()
Obj2 = Dog()
Obj3 = Cat()
Obj4 = Snake()
Obj5 = Cow()
Obj6 = Goat()
Obj1.sound()
Obj2.sound()
Obj3.sound()
Obj4.sound()
Obj5.sound()
Obj6.sound()

Animal makes a Sound
Bow Bow Bow Bow
Meow Meow Meow Meow
Busssssssssssssss
Ambbbbbbbbaaaaaaa
Bee Bee Bee Bee

In [40]:
# Operator Overloading polymorphism
class Book :
  def __init__(self,page):
    self.page = page
  def __add__(self,other):
    return self.page + other.page

Obj1 = Book(200)
Obj2 = Book(300)
print("Total pages is",Obj1 + Obj2)

Total pages is 500

In [42]:
# Abstraction example
from abc import ABC, abstractmethod
class Vehicle(ABC):
    def sound(self):
       pass

class Car (Vehicle):
    def sound(self):
       print("I'm driving a car")

Obj = Car()
Obj.sound()

I'm driving a car

In [53]:
# Abstraction Example
from abc import ABC, abstractmethod
class Game(ABC):

    # Normal function / method
    def Free_fire(self):
       print("Winner Winner Chicken Dinner")

    # Abstract function / method
    def BGMI(self):
       pass

    # Normal function / Method
    def Ludo_King(self):
       print("I'm win the game")

    # BGMI function implemented by sub class
    def BGMI(self):
        print("I got Royal pass Diamond")

    # Normal function
    def Chess(self):
      print("I'm a district player")


Obj = Temple_Run()
Obj.BGMI()
Obj.Ludo_King()
Obj.Chess()

I got Royal pass Diamond
I'm win the game
I'm a district player

In [54]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [6]:
# QUIZ COMPITATION
def ask_question(question, options, answer):
    print(f"\n{question}")
    for key, value in options.items():
        print(f"{key}. {value}")

    user_choice = input("Enter your choice (a/b/c/d):").lower()

    match user_choice:
        case 'a' | 'b' | 'c' | 'd':
            if user_choice == answer:
                print(" Correct answer")
                return 1
            else:
                print(" Wrong answer")
                return 0
        case _:
            print(" Invalid choice")
            return 0

print("Welcome to Python Quiz Competition")
player_name = input("Enter your name: ")
score = 0
questions = [
    {"q": "1)Which of the following is a valid variable name?",
     "options": {"a": "lvar", "b": "varl", "c": "var-l", "d": "varl"}, "ans": "b"},

    {"q": "2) What is the output of: x=5; x+=3; print(x)",
     "options": {"a": "8", "b": "53", "c": "5", "d": "Error"}, "ans": "a"},

    {"q": "3) Which of the following is immutable?",
     "options": {"a": "List", "b": "Set", "c": "Tuple", "d": "Dictionary"}, "ans": "c"},

    {"q": "4) Type of 3.14 in Python?",
     "options": {"a": "int", "b": "float", "c": "complex", "d": "double"}, "ans": "b"},

    {"q": "5) Which of these is a dictionary?",
     "options": {"a": "[1,2,3]", "b": "(1,2,3)", "c": "{'a':1}", "d": "{1,2,3}"}, "ans": "c"},

    {"q": "6) What is output of len({1,2,3,4})?",
     "options": {"a": "3", "b": "4", "c": "Error", "d": "0"}, "ans": "b"},

    {"q": "7) Output of 5**2?",
     "options": {"a": "10", "b": "25", "c": "7", "d": "52"}, "ans": "b"},

    {"q": "8) Which operator is floor division?",
     "options": {"a": "/", "b": "//", "c": "%", "d": "**"}, "ans": "b"},

    {"q": "9) Output of:if 5>3:\n print('yes')",
     "options": {"a": "Yes", "b": "No", "c": "Error", "d": "5>3"}, "ans": "a"},

    {"q": "10) Which keyword is used for else-if?",
     "options": {"a": "elseif", "b": "elif", "c": "elifse", "d": "elifse"}, "ans": "b"},

    {"q": "11) Which loop is used when number of iterations is known?",
     "options": {"a": "for", "b": "while", "c": "do-while", "d": "None"}, "ans": "a"},

    {"q": "12) How to exit a loop immediately?",
     "options": {"a": "stop", "b": "break", "c": "exit", "d": "return"}, "ans": "b"},

    {"q": "13) Keyword to define a function?",
     "options": {"a": "function", "b": "def", "c": "fun", "d": "define"}, "ans": "b"},

    {"q": "14)Function that returns nothing?",
     "options": {"a": "return None", "b": "void", "c": "pass", "d": "All of the above"}, "ans": "a"},

    {"q": "15) Which method is the constructor in Python class?",
     "options": {"a": "__init__", "b": "__start__", "c": "__create__", "d": "constructor"}, "ans": "a"},

    {"q": "16) Which of these is inheritance example?",
     "options": {"a": "class A:\n pass\nclass B(A):\n pass", "b": "x=5", "c": "def fun():pass", "d": "if True:pass"}, "ans": "a"},

    {"q": "17) What is the type of True?",
     "options": {"a": "int", "b": "bool", "c": "str", "d": "float"}, "ans": "b"},

    {"q": "18) Which collection type allows duplicates?",
     "options": {"a": "Set", "b": "Dictionary", "c": "List", "d": "Tuple"}, "ans": "c"},

    {"q": "19) Output of 10%3?",
     "options": {"a": "3", "b": "1", "c": "0", "d": "Error"}, "ans": "b"},

    {"q": "20)if 5>10:\n print('Yes')\nelse:\n print('No')",
     "options": {"a": "Yes", "b": "No", "c": "Error", "d": "5>10"}, "ans": "b"},

    {"q": "21) Output of:\nfor i in range(3):\n print(i)",
     "options": {"a": "1 2 3", "b": "0 1 2", "c": "0 1 2 3", "d": "1 2"}, "ans": "b"},

    {"q": "22) Encapsulation in Python is done by?",
     "options": {"a": "Private Variables", "b": "Inheritance", "c": "Polymorphism", "d": "Abstraction"}, "ans": "a"},

    {"q": "23) Polymorphism means?",
     "options": {"a": "Multiple forms", "b": "Single form", "c": "Inheritance", "d": "Encapsulation"}, "ans": "a"},

    {"q": "24) Dynamic typing means?",
     "options": {"a": "Type assigned at runtime", "b": "Type assigned at compile-time", "c": "Fixed type", "d": "Error"}, "ans": "a"},

    {"q": "25) Type of None?",
     "options": {"a": "int", "b": "str", "c": "NoneType", "d": "bool"}, "ans": "c"},

    {"q": "26) How to access lst element of list l=[10,20]?","options":
     {"a":"l[0]","b":"l[l]","c":"l[-l]","d":"l.first"},"ans":"a"},

    {"q": "27) Which operator is used for logical AND?",
     "options": {"a": "and", "b": "&", "c": "&&", "d": "|"}, "ans": "a"},

    {"q": "28) Output:x=5;print('yes' if x>0 else 'no')",
     "options": {"a": "Yes", "b": "No", "c": "Error", "d": "5"}, "ans": "a"},

    {"q": "29) Output\ni=0\nwhile i<3:\n print(i)\n i+=1",
     "options": {"a": "0 1 2", "b": "1 2 3", "c": "0 1 2 3", "d": "Error"}, "ans": "a"},

    {"q": "30) Which returnsa value?",
     "options": {"a": "print()", "b": "return", "c": "pass", "d": "input()"}, "ans": "b"},

    {"q": "31) Abstaction means?",
     "options": {"a": "Hiding implimentation", "b": "Overloadinding", "c": "Inheritance", "d": "polymorphism"}, "ans": "a"},

    {"q": "32) Which is mutable string type?",
     "options": {"a": "str", "b": "list", "c": "tuple", "d": "int"}, "ans": "b"},

    {"q": "33) Which keyboard is used to inherit?",
     "options": {"a": "inherits", "b": "super", "c": "classB(A)", "d": "extends"}, "ans": "c"},

    {"q": "34) Output of bool()",
     "options": {"a": "True", "b": "False", "c": "None", "d": "Error"}, "ans": "b"},

    {"q": "35) What does pass do?",
     "options": {"a": "Skip", "b": "Exit", "c": "Print", "d": "Return"}, "ans": "a"},

    {"q": "36) How to create a tuple with single element?",
     "options": {"a": "(l)", "b": "(l,)", "c": "[l]", "d": "{l}"}, "ans": "b"},

    {"q": "37) Output of 2*3**2?",
     "options": {"a": "36", "b": "18", "c": "12", "d": "None"}, "ans": "b"},

    {"q": "38) Which of these is not keyword?",
     "options": {"a": "pass", "b": "eval", "c": "assert", "d": "return"}, "ans": "b"},

    {"q": "39) Which method converts string to lowercase?",
     "options": {"a": "lower()", "b": "up()", "c": "capitalize()", "d": "lowercase()"}, "ans": "a"},

    {"q": "40) Which collection stores key-value pairs?",
     "options": {"a": "List", "b": "Tuple", "c": "Dictionary", "d": "Set"}, "ans": "c"}
]

for q in questions:
    score += ask_question(q["q"], q["options"], q["ans"])

print("\n----- RESULT -----")
print(f"Player: {player_name}")
print(f"Your Score: {score}/{len(questions)}")

if score == len(questions):
    print(" Excellent! Full Marks")
elif score >= 25:
    print(" Good Job, Keep Practicing!")
else:
    print(" Needs Improvement!")

Welcome to Python Quiz Competition
Enter your name: Pramila

1)Which of the following is a valid variable name?
a. lvar
b. varl
c. var-l
d. varl
Enter your choice (a/b/c/d):b
 Correct answer

2) What is the output of: x=5; x+=3; print(x)
a. 8
b. 53
c. 5
d. Error
Enter your choice (a/b/c/d):a
 Correct answer

3) Which of the following is immutable?
a. List
b. Set
c. Tuple
d. Dictionary
Enter your choice (a/b/c/d):c
 Correct answer

4) Type of 3.14 in Python?
a. int
b. float
c. complex
d. double
Enter your choice (a/b/c/d):b
 Correct answer

5) Which of these is a dictionary?
a. [1,2,3]
b. (1,2,3)
c. {'a':1}
d. {1,2,3}
Enter your choice (a/b/c/d):c
 Correct answer

6) What is output of len({1,2,3,4})?
a. 3
b. 4
c. Error
d. 0
Enter your choice (a/b/c/d):b
 Correct answer

7) Output of 5**2?
a. 10
b. 25
c. 7
d. 52
Enter your choice (a/b/c/d):b
 Correct answer

8) Which operator is floor division?
a. /
b. //
c. %
d. **
Enter your choice (a/b/c/d):b
 Correct answer

9) Output of:if 5>3:
 print('yes')
a. Yes
b. No
c. Error
d. 5>3
Enter your choice (a/b/c/d):b
 Wrong answer

10) Which keyword is used for else-if?
a. elseif
b. elif
c. elifse
d. elifse
Enter your choice (a/b/c/d):b
 Correct answer

11) Which loop is used when number of iterations is known?
a. for
b. while
c. do-while
d. None
Enter your choice (a/b/c/d):a
 Correct answer

12) How to exit a loop immediately?
a. stop
b. break
c. exit
d. return
Enter your choice (a/b/c/d):b
 Correct answer

13) Keyword to define a function?
a. function
b. def
c. fun
d. define
Enter your choice (a/b/c/d):b
 Correct answer

14)Function that returns nothing?
a. return None
b. void
c. pass
d. All of the above
Enter your choice (a/b/c/d):a
 Correct answer

15) Which method is the constructor in Python class?
a. __init__
b. __start__
c. __create__
d. constructor
Enter your choice (a/b/c/d):a
 Correct answer

16) Which of these is inheritance example?
a. class A:
 pass
class B(A):
 pass
b. x=5
c. def fun():pass
d. if True:pass
Enter your choice (a/b/c/d):a
 Correct answer

17) What is the type of True?
a. int
b. bool
c. str
d. float
Enter your choice (a/b/c/d):b
 Correct answer

18) Which collection type allows duplicates?
a. Set
b. Dictionary
c. List
d. Tuple
Enter your choice (a/b/c/d):c
 Correct answer

19) Output of 10%3?
a. 3
b. 1
c. 0
d. Error
Enter your choice (a/b/c/d):b
 Correct answer

20)if 5>10:
 print('Yes')
else:
 print('No')
a. Yes
b. No
c. Error
d. 5>10
Enter your choice (a/b/c/d):b
 Correct answer

21) Output of:
for i in range(3):
 print(i)
a. 1 2 3
b. 0 1 2
c. 0 1 2 3
d. 1 2
Enter your choice (a/b/c/d):b
 Correct answer

22) Encapsulation in Python is done by?
a. Private Variables
b. Inheritance
c. Polymorphism
d. Abstraction
Enter your choice (a/b/c/d):b
 Wrong answer

23) Polymorphism means?
a. Multiple forms
b. Single form
c. Inheritance
d. Encapsulation
Enter your choice (a/b/c/d):a
 Correct answer

24) Dynamic typing means?
a. Type assigned at runtime
b. Type assigned at compile-time
c. Fixed type
d. Error
Enter your choice (a/b/c/d):a
 Correct answer

25) Type of None?
a. int
b. str
c. NoneType
d. bool
Enter your choice (a/b/c/d):c
 Correct answer

26) How to access lst element of list l=[10,20]?
a. l[0]
b. l[l]
c. l[-l]
d. l.first
Enter your choice (a/b/c/d):a
 Correct answer

27) Which operator is used for logical AND?
a. and
b. &
c. &&
d. |
Enter your choice (a/b/c/d):a
 Correct answer

28) Output:x=5;print('yes' if x>0 else 'no')
a. Yes
b. No
c. Error
d. 5
Enter your choice (a/b/c/d):a
 Correct answer

29) Output
i=0
while i<3:
 print(i)
 i+=1
a. 0 1 2
b. 1 2 3
c. 0 1 2 3
d. Error
Enter your choice (a/b/c/d):a
 Correct answer

30) Which returnsa value?
a. print()
b. return
c. pass
d. input()
Enter your choice (a/b/c/d):b
 Correct answer

31) Abstaction means?
a. Hiding implimentation
b. Overloadinding
c. Inheritance
d. polymorphism
Enter your choice (a/b/c/d):a
 Correct answer

32) Which is mutable string type?
a. str
b. list
c. tuple
d. int
Enter your choice (a/b/c/d):b
 Correct answer

33) Which keyboard is used to inherit?
a. inherits
b. super
c. classB(A)
d. extends
Enter your choice (a/b/c/d):c
 Correct answer

34) Output of bool()
a. True
b. False
c. None
d. Error
Enter your choice (a/b/c/d):b
 Correct answer

35) What does pass do?
a. Skip
b. Exit
c. Print
d. Return
Enter your choice (a/b/c/d):a
 Correct answer

36) How to create a tuple with single element?
a. (l)
b. (l,)
c. [l]
d. {l}
Enter your choice (a/b/c/d):b
 Correct answer

37) Output of 2*3**2?
a. 36
b. 18
c. 12
d. None
Enter your choice (a/b/c/d):b
 Correct answer

38) Which of these is not keyword?
a. pass
b. eval
c. assert
d. return
Enter your choice (a/b/c/d):a
 Wrong answer

39) Which method converts string to lowercase?
a. lower()
b. up()
c. capitalize()
d. lowercase()
Enter your choice (a/b/c/d):a
 Correct answer

40) Which collection stores key-value pairs?
a. List
b. Tuple
c. Dictionary
d. Set
Enter your choice (a/b/c/d):c
 Correct answer

----- RESULT -----
Player: Pramila
Your Score: 37/40
 Good Job, Keep Practicing!