In [1137]:
print("Hello World")

Hello World

In [1138]:
print("Pramila")

Pramila

In [1139]:
print("KLE BK BCA College Chikodi")

KLE BK BCA College Chikodi

In [1140]:
a=10
print(a)

10

In [1141]:
print("Hello world"*3)

Hello worldHello worldHello world

In [1142]:
print(100/3)

33.333333333333336

In [1143]:
print("python programming language \n "*5)

python programming language
 python programming language
 python programming language
 python programming language
 python programming language

In [1144]:
print("My name is Pramila S Sankapal\n I am from vadagol\n I have complited pu college in Majalatti\n Now I am persuving BCA in B.K College Chikodi\n")

My name is Pramila S Sankapal
 I am from vadagol
 I have complited pu college in Majalatti
 Now I am persuving BCA in B.K College Chikodi

In [1145]:
print("Hello"+ "World")

HelloWorld

In [1146]:
print("Good morning\n"*10)

Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning
Good morning

In [1147]:
name = "Pramila"
print(name)

Pramila

In [1148]:
print("kannada=100\n English=97\n Physics=80\n Chemistry=85\n Mathematics=90\n Biology=95\n")

kannada=100
 English=97
 Physics=80
 Chemistry=85
 Mathematics=90
 Biology=95

In [1149]:
_N_A_M_E = "Computer"
print(_N_A_M_E)

Computer

In [1150]:
Age = 19
age = 19
print(Age,age)

19 19

In [1151]:
x=10
x=15
print(x,x)

15 15

In [1152]:
Y=3.24
print(Y)

3.24

In [1153]:
yes = True
print(yes)

True

In [1154]:
Name = 121
print(name)

Pramila

In [1155]:
NA_12_ME = "Chikodi"
print(NA_12_ME)

Chikodi

In [1156]:
name = "college"
per = 67.34
print(name,per)

college 67.34

In [1157]:
College = "BK College"
Name = "Pramila"
print("My name is",Name,"I'm stutying in",College)

My name is Pramila I'm stutying in BK College

In [1158]:
# Hello Good Evening,How are you,i'am fine, where are you from i'm from chikodi,so nice
text = "Good Evening"
address = "I'm from chikodi"
print("Hello",text,"How are you","i am fine,where are you from",address,"so nice")

Hello Good Evening How are you i am fine,where are you from I'm from chikodi so nice

In [1159]:
print("Good morning")

Good morning

In [1160]:
a,b,c ="good","morning",18
print(a,b,c)

good morning 18

In [1161]:
X=Y=Z=1001
print(X,Y,Z)

1001 1001 1001

In [1162]:
A=B,C="College",25
print(B,C,A)

College 25 ('College', 25)

In [1163]:
A=10
B=20
print("Addition of",A,"and",B,"is=",A+B)

Addition of 10 and 20 is= 30

In [1164]:
A=10
print(type(A))

<class 'int'>

In [1165]:
X=35
print(type(X))

<class 'int'>

In [1166]:
y=-100
print(type(y))

<class 'int'>

In [1167]:
value=0
print(type(value))

<class 'int'>

In [1168]:
value=3.33
print(type(value))

<class 'float'>

In [1169]:
Number=-100.33333
print(type(Number))

<class 'float'>

In [1170]:
Run=+20.0
print(type(Run))

<class 'float'>

In [1171]:
yes=True
print(yes)

True

In [1172]:
yes=18
print(type(yes))

<class 'int'>

In [1173]:
yes="False"
print(type(yes))

<class 'str'>

In [1174]:
Roll_number="101"
print(type(Roll_number))

<class 'str'>

In [1175]:
Section = '''c'''
print(type(Section))

<class 'str'>

In [1176]:
programe="""program"""
print(type(programe))

<class 'str'>

In [1177]:
string="Python programming languages"
print(string)

Python programming languages

In [1178]:
first="BK\n"
second="college\n"
print(((first +" "+second)+"\n")*5)

BK
 college

BK
 college

BK
 college

BK
 college

BK
 college

In [1179]:
Name="python programming languages"
print(Name[5])
print(Name[-2])
print(Name[18])
print(Name[3:14])
print(Name[:20])
print(Name[6:])
print(Name[:-1])
print(Name[-22:-4])
print(Name[::1])
print(Name[::2])
print(Name[::-1])
print(Name[::-3])

n
e

hon program
python programming l
 programming languages
python programming language
 programming langu
python programming languages
pto rgamn agae
segaugnal gnimmargorp nohtyp
san iao hp

In [1180]:
Details='''multi line comments
hi,Good Morning
'''
print(Details)

multi line comments
hi,Good Morning

In [1181]:
list1=[101]
print(list1)
print(type(list1))
list1.append("Pramila")
print(list1)

[101]
<class 'list'>
[101, 'Pramila']

In [1182]:
from logging import debug
details=[101]
print(details)#101
print(type(details))#list
details.append(85.12)
print(details)#101,85.12
details.append(True)
print(details)#101,85.12,True
print(len(details))
print(details.pop())
print(details)
print("Pramila")
details.append("pramila")
print(details)
details.append(-99)
print(details)
print(len(details))
print(details[2])
print(details[-1])
details.append("BK college chikodi")
print(details)
print(len(details))
details[3]=99
print(details)
print("pramila99")
print(details[2:4])
details.insert(2,False)
print(details)
details.remove(False)
print(details)
print(len(details))
print(details[4])
print(details[::-1])
print(details.count(101))
print(details.clear())
print(details)
print(type(details))

[101]
<class 'list'>
[101, 85.12]
[101, 85.12, True]
3
True
[101, 85.12]
Pramila
[101, 85.12, 'pramila']
[101, 85.12, 'pramila', -99]
4
pramila
-99
[101, 85.12, 'pramila', -99, 'BK college chikodi']
5
[101, 85.12, 'pramila', 99, 'BK college chikodi']
pramila99
['pramila', 99]
[101, 85.12, False, 'pramila', 99, 'BK college chikodi']
[101, 85.12, 'pramila', 99, 'BK college chikodi']
5
BK college chikodi
['BK college chikodi', 99, 'pramila', 85.12, 101]
1
None
[]
<class 'list'>

In [1183]:
from re import I
information=[110]
print(information)#110
print(type(information))#list
information.append(92.45)
print(information)#110,92.45
information.append(True)
print(information)#110,92.45,True
print(len(information))
print(information.pop())
print(information)
print("Pramila")
information.append("Pramila")
print(information)
information.append(-97)
print(information)
print(len(information))
print(information[3])
print(information[-2])
information.append("BK college chikodi")
print(information)
print(len(information))
information[4]=97
print(information)
print("Pramila97")
print(information[3:2])
information.insert(3,False)
print(information)
information.remove(False)
print(information)
print(len(information))
print(information[3])
print(information[::-2])
print(information.count(110))
print(information.clear())
print(information)
print(type(information))

[110]
<class 'list'>
[110, 92.45]
[110, 92.45, True]
3
True
[110, 92.45]
Pramila
[110, 92.45, 'Pramila']
[110, 92.45, 'Pramila', -97]
4
-97
Pramila
[110, 92.45, 'Pramila', -97, 'BK college chikodi']
5
[110, 92.45, 'Pramila', -97, 97]
Pramila97
[]
[110, 92.45, 'Pramila', False, -97, 97]
[110, 92.45, 'Pramila', -97, 97]
5
-97
[97, 'Pramila', 110]
1
None
[]
<class 'list'>

In [1184]:
# Address = 2010
print(3+3)

6

In [1185]:
Example = (1,"Triveni",3.12,False,1)
print(Example)
print(len(Example))
print(type(Example))
print(Example.count(1))
print(Example[0:3])
print(Example[3])
print(Example[-1])

(1, 'Triveni', 3.12, False, 1)
5
<class 'tuple'>
2
(1, 'Triveni', 3.12)
False
1

In [1186]:
Number = (2,4,7,9,3,9,3,2)
print(Number)
Add = (2,4,5,7)
print(Number + Add)
print(Add*4)

(2, 4, 7, 9, 3, 9, 3, 2)
(2, 4, 7, 9, 3, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)

In [1187]:
Example = {1,2,2,3,4,5}
print(Example)
print(type(Example))
print(len(Example))
Example.add(10)
print(Example)
Example.add("BKC")
print(Example)

{1, 2, 3, 4, 5}
<class 'set'>
5
{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 'BKC', 10}

In [1188]:
ex = {1,2,2,3,4,4,5,6,7}
print(ex)
print(type(ex))
print(len(ex))
ex.add("BKC")
print(ex)
ex.add(33.14)
print(ex)
ex.add("True")
print(ex)
print(ex.pop())
print(ex)
ex.remove(4)
print(ex)

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
7
{1, 2, 3, 4, 5, 6, 7, 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 'BKC', 33.14}
{1, 2, 3, 4, 5, 6, 7, 'BKC', 33.14, 'True'}
1
{2, 3, 4, 5, 6, 7, 'BKC', 33.14, 'True'}
{2, 3, 5, 6, 7, 'BKC', 33.14, 'True'}

In [1189]:
first = {1,2,3,4,4,2}
second = {3,5,4,6}
print(first | second)
print(first.union(second))
print(first&second)
print(first.intersection(second))
print(first-second)
print(first.difference(second))
print(second-first)
print(second.difference(first))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [1190]:
Dict = {"Roll_number" :    186,
        "Name"        :   "Pramila",
        "Address"     :   "Vadagol",
        "CGPA"        :    7.53,
        "Course"      :    "BCA",
        "Year"        :    2025
}
print(Dict)
print(len(Dict))
Dict["Gender"] = "Female"
print(Dict)
Dict["College"] = "Majalatti"
print(Dict)
Dict["College"] = "Belagavi University"
print(Dict)
del Dict["Gender"]
print(Dict)
Dict["Gender"] = "Female"
print(Dict)
print(Dict["College"])
Dict["Age"] = 19
print(Dict["Age"])
Dict.pop("Address")
print(Dict)
print(len(Dict))
print(Dict)
Dict.popitem()
print(Dict)
print(Dict.keys())
print(Dict.values())
print(Dict.items())
print(Dict.clear())

{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025}
6
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female'}
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female', 'College': 'Majalatti'}
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female', 'College': 'Belagavi University'}
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University'}
{'Roll_number': 186, 'Name': 'Pramila', 'Address': 'Vadagol', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University', 'Gender': 'Female'}
Belagavi University
19
{'Roll_number': 186, 'Name': 'Pramila', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University', 'Gender': 'Female', 'Age': 19}
8
{'Roll_number': 186, 'Name': 'Pramila', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University', 'Gender': 'Female', 'Age': 19}
{'Roll_number': 186, 'Name': 'Pramila', 'CGPA': 7.53, 'Course': 'BCA', 'Year': 2025, 'College': 'Belagavi University', 'Gender': 'Female'}
dict_keys(['Roll_number', 'Name', 'CGPA', 'Course', 'Year', 'College', 'Gender'])
dict_values([186, 'Pramila', 7.53, 'BCA', 2025, 'Belagavi University', 'Female'])
dict_items([('Roll_number', 186), ('Name', 'Pramila'), ('CGPA', 7.53), ('Course', 'BCA'), ('Year', 2025), ('College', 'Belagavi University'), ('Gender', 'Female')])
None

In [1191]:
Type = {"Roll_number" :   166,
        "Name"        :   "Triveni",
        "Address"     :   "Toranahalli",
        "CGPA"        :    8.64,
        "Course"      :    "BCA",
        "Year"        :    2025
}
print(Type)
print(len(Type))
Type["Gender"] = "Female"
print(Type)

{'Roll_number': 166, 'Name': 'Triveni', 'Address': 'Toranahalli', 'CGPA': 8.64, 'Course': 'BCA', 'Year': 2025}
6
{'Roll_number': 166, 'Name': 'Triveni', 'Address': 'Toranahalli', 'CGPA': 8.64, 'Course': 'BCA', 'Year': 2025, 'Gender': 'Female'}

In [1192]:
Employe = { "Employe_id"     :  1001,
            "Employe_Name"   : "Abhi",
            "Contact_number" :  6372534685,
            "Salary"         :  200000,
            "Email_id"       : "abhi2005@gmail.com",
            "Company"        : "Microsoft",
            "Employe_habbit" : "Gaming",
            "Pin_code"       : "591244",
            "Country"        : "India"


}
print(Employe)
Employe["Country"] = "India"
Employe["Pin_code"] = "591244"
print(Employe)
print(len(Employe))
print(Employe["Salary"])
Employe.pop("Email_id")
Employe["Department"] ="Developer"
print(len(Employe))
print(Employe.popitem())
print(Employe.keys())
print(Employe.values())

{'Employe_id': 1001, 'Employe_Name': 'Abhi', 'Contact_number': 6372534685, 'Salary': 200000, 'Email_id': 'abhi2005@gmail.com', 'Company': 'Microsoft', 'Employe_habbit': 'Gaming', 'Pin_code': '591244', 'Country': 'India'}
{'Employe_id': 1001, 'Employe_Name': 'Abhi', 'Contact_number': 6372534685, 'Salary': 200000, 'Email_id': 'abhi2005@gmail.com', 'Company': 'Microsoft', 'Employe_habbit': 'Gaming', 'Pin_code': '591244', 'Country': 'India'}
9
200000
9
('Department', 'Developer')
dict_keys(['Employe_id', 'Employe_Name', 'Contact_number', 'Salary', 'Company', 'Employe_habbit', 'Pin_code', 'Country'])
dict_values([1001, 'Abhi', 6372534685, 200000, 'Microsoft', 'Gaming', '591244', 'India'])

In [1193]:
Name = {"Name" : "Pramila",
        "name" : "Pramila",
        "F_name" : "Pramila",
        "L_name" : "Pramila"
}
print(Name)

{'Name': 'Pramila', 'name': 'Pramila', 'F_name': 'Pramila', 'L_name': 'Pramila'}

In [1194]:
a = 10
b = 3
c = a/b
print(type(a))
print(type(b))
print(a/b)
print(type(c))

<class 'int'>
<class 'int'>
3.3333333333333335
<class 'float'>

In [1195]:
a = 10
b = 3
c = a+b
print(a+b)
print(type(a))
print(type(b))
print(type(c))
print(type(a/b))

13
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [1196]:
#
i=20
j=5.5
k=i+j
print(type(k))

<class 'float'>

In [1197]:
# int -> float
i=20
j=5.5
k=i+j
print(type(k))

<class 'float'>

In [1198]:
# int -> float
a=49
b=7
print(type(a/b))

<class 'float'>

In [1199]:
i=True
print(type(i))
j=5
print(type(i+j))

<class 'bool'>
<class 'int'>

In [1200]:
M=2.9
N=False
O=M-N
print(type(O))

<class 'float'>

In [1201]:
p=True
Q=False
R=p+Q
print(type(R))

<class 'int'>

In [1202]:
S=2.6
T=False
print(type(S*T))

<class 'float'>

In [1203]:
#Implicit
num = 3.12
print(type(num))
# Explicit
add = int(num)
print(type(add))
mul = float(add)
print(type(mul))

<class 'float'>
<class 'int'>
<class 'float'>

In [1204]:
Num = "101"
print(type(Num))

# Explicit
add = int(Num)
print(type(add))


Men = True
print(type(Men))

Fem = int(Men)
print(type(Fem))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'int'>

In [1205]:
print(type(str(100)))

<class 'str'>

In [1206]:
Demo = 1
print(type(Demo))
print(type(bool(Demo)))

Demo=9.99
print(type(Demo))
print(type(bool(Demo)))

Demo = False
print(type(Demo))

Ex = float(Demo)
print(Ex)
print(type(Ex))

Demo = True
print(type(Demo))

Ex = float(Demo)
print(Ex)
print(type(Ex))

<class 'int'>
<class 'bool'>
<class 'float'>
<class 'bool'>
<class 'bool'>
0.0
<class 'float'>
<class 'bool'>
1.0
<class 'float'>

In [1207]:
# 1) str -> list
Num1  = "Pramila"
print(type(Num1))

Ex1 = list(Num1)
print(type(Ex))

<class 'str'>
<class 'float'>

In [1208]:
# 2) tuple -> list
Num2 = (1,2,3,4,5)
print(type(Num2))

Ex2 = list(Num2)
print(type(Ex2))

<class 'tuple'>
<class 'list'>

In [1209]:
# 3) set -> list
Num3 = {1,23,4,5}
print(type(Num3))

Ex3 = list(Num3)
print(type(Ex3))

<class 'set'>
<class 'list'>

In [1210]:
# 4) Dict-> list
Num4 = {}
print(type(Num4))

Ex4 = list(Num4)
print(type(Num4))

<class 'dict'>
<class 'dict'>

In [1211]:
# 5) tuple->list
Num5 = [1,2,3,4,5]
print(type(Num5))

Ex5 = list(Num5)
print(type(Ex5))

<class 'list'>
<class 'list'>

In [1212]:
# 1) list -> Dict
Num2 = [("a",1),("b",2),("c",3)]
print(type(Num2))

Ex2 = dict(Num2)
print(type(Ex2))

# 2) tuple -> dict
Num3 = (1,23,4,5)
print(type(Num3))

Ex3 = set(Num3)
print(type(Ex3))

# 3) set-> dict
Num4 = {("Roll_number",501),("Section","C")}
print(type(Num4))

Ex4 = dict(Num4)
print(type(Ex4))

<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>
<class 'set'>
<class 'dict'>

In [1213]:
a=10
b=20
print("a=20,b=10")

a=20,b=10

In [1214]:
A=10
B=20
print("Before Swapping")
print("A=",A,"B=",B)
print("After Swapping")
temp=A
A=B
B=temp
print("A=",A,"B=",B)

Before Swapping
A= 10 B= 20
After Swapping
A= 20 B= 10

In [1215]:

X=10
Y=20
print("Before Swapping")
print("X=",X,"Y=",Y)
print("After Swapping")
X = X+Y
Y = X-Y
X = X-Y
print("X=",X,"Y=",Y)

Before Swapping
X= 10 Y= 20
After Swapping
X= 20 Y= 10

In [1216]:
# 1) int to str
X = 10
print(type(X))
print(type(str(X)))

<class 'int'>
<class 'str'>

In [1217]:
Example = ["Laptop",39000,"Window","Lenovo","Bengaluru","laptop",39000,"BCA","Lenovo","Chikodi"]
print(Example)
print(len(Example))
print(Example.count("Lenovo"))

['Laptop', 39000, 'Window', 'Lenovo', 'Bengaluru', 'laptop', 39000, 'BCA', 'Lenovo', 'Chikodi']
10
2

In [1218]:
# Compile time programe
A=10
B=20
print(A+B)


# Run time programe

X=int(input("Enter X value"))
Y=int(input("Enter Y value"))
print(X+Y)

30
Enter X value10
Enter Y value20
30

In [1219]:
i = input("enter the value :i")
j = input("enter the value :j")
print(i + j)

enter the value :i20
enter the value :j40
2040

In [1220]:
X = 100
Y = 50
print(f'Addition of {X} and {Y} value is = {X + Y}')

Addition of 100 and 50 value is = 150

In [1226]:
# Hi,Good Morning My name is Triveni, i have completed PUC (Science) in the year of
# 2025, currently i'am working in KLE BK BCA College Chikodi 591201
name = "Triveni"
course = "BCA"
year = 2025
Department = "BCA"
Pincode = 591201


print(f"Hi,Good Morning My name is {name}, i have completed {course} in the year of {year},currently i'm working in KLE BK {Department} College Chikodi {Pincode}")

Hi,Good Morning My name is Triveni, i have completed BCA in the year of 2025,currently i'm working in KLE BK BCA College Chikodi 591201

In [1227]:
# Arithmetic operators
Num1 = int(input("Enter Num1 value :"))
Num2 = int(input("Enter Num2 vaiue :"))
print("Addition of two numbers is :",Num1 + Num2)
print()
print("Substraction of two numbers is :",Num1-Num2)
print()
print("Multiplication of two numbers is :",Num1*Num2)
print()
print("Division of two numbers is :",Num1/Num2)
print()
print("Floor Division of two numbers is :",Num1//Num2)
print()
print("Modulus of two numbers is :",Num1%Num2)
print()

X = 5
Y = 3
print("Exponent value is :",X**Y)

Enter Num1 value :100
Enter Num2 vaiue :50
Addition of two numbers is : 150

Substraction of two numbers is : 50

Multiplication of two numbers is : 5000

Division of two numbers is : 2.0

Floor Division of two numbers is : 2

Modulus of two numbers is : 0

Exponent value is : 125

In [1233]:
# Relational Operator
Number1 = 35
Number2 = 40
print(Number1 > Number2)
print(Number2 < Number1)
print(Number1 == 35)
print(Number1 <= Number2)
print(Number2 != 40)
print(Number2 >= 40)
print(10 != 20)
print(Number1 == Number2)
print(Number2 != Number1)

False
False
True
True
False
True
True
False
True

In [1242]:
# Logical operator
a = 20
b = 35
c = 13
d = 10

print( a == b and c < d )

print( 13 != c and d < c )

print( b > a and d < c)

print( 20 != a and c == d)

print( a < b or d == c)

print((not(a < b )) and 100  < 200)

print(not(d == 10))

print(35 != d or (not(20 == a)))

print(not(c <= b and (not(a <= c))))

print()

False
False
True
False
True
False
False
True
False

In [1263]:
X = 10
print(X)

X -= 2
print(X)

X *= 5
print(X)

X //= 3
print(X)

X **= 2
print(X)

X %= 4
print(X)

X += 9
print(X)

X /= 3
print(X)

10
8
40
13
169
1
10
3.3333333333333335

In [1266]:
Num = 9
if Num  < 10 :
  print("10 is a greater then 9")

10 is a greater then 9

In [1267]:
User_id = "20MCA103"
Password = 1234
if User_id == "20MCA103" and Password == 1234:
  print("login successfully")

login successfully

In [1280]:
Ex = 59
if Ex == 58:
  print("Are you understand")

In [1279]:
Name = "Pramila"
if Name <= "BK" :
  print("My name is Pramila")

In [1291]:
Num = int(input("Enter a number value:"))
if Num > 0 :
  print("Positive number")
else :
    print("Negative number")

Enter a number value:9
Positive number

In [1292]:
Num = int(input("Enter a number value:"))
if Num % 2 == 0:
     print("Even number")
else :
     print("Odd number")

Enter a number value:8
Even number

In [1294]:
year = int(input("Enter a year value :"))
if year % 4 == 0 :
  print("leap year")
else :
  print("Not leap year")

Enter a year value :2028
leap year

In [1301]:
 Age = int(input("Enter a age value :"))
 if Age >= 18 :
     print("they are eligible for voting")
else :
    print("they have to wait")

Enter a age value :18
they are eligible for voting

In [1310]:
User_id = input("Enter user_id value :")
Password =int(input("Enter password value :"))
if User_id == "College" and Password == 1229:
  print("Login successfully")
else:
  print("Invalid details")

Enter user_id value :College
Enter password value :1229
Login successfully

In [1314]:
Marks = int(input("Enter a marks value :"))
if Marks >= 90 :
  print("Grade A")
elif Marks >= 80 :
  print("Grade B")
elif Marks >= 70 :
  print("Grade C")
elif Marks >= 60 :
  print("Grade D")

Enter a marks value :76
Grade C

In [1321]:
Marks = int(input("Enter a marks value :"))
if Marks >= 85 :
  print("Distiction")
elif Marks >= 70 :
  print("First class")
elif Marks >= 55 :
  print("Second class")
elif Marks >= 35 :
  print("Just pass")
else:
  print("Fail better luck next chance")

Enter a marks value :30
Fail better luck next chance

In [1326]:
Prize = int(input("Enter a prize medal :"))
if Prize == 1 :
  print("Gold medal")
elif Prize == 2 :
  print("Silver medal")
elif Prize == 3 :
  print("Bronze medal")
else :
  print("Better luck next time")

Enter a prize medal :3
Bronze medal

In [1333]:
Troffic = input("Enter a troffic colours :")
if Troffic == "Red" :
  print("stop")
elif Troffic == "Yellow" :
  print("Ready")
elif Troffic == "Green" :
  print("Go")

Enter a troffic colours :Red
stop